body {
    -webkit-font-smoothing: antialiased !important;
}

.multiline.sub p {
    color: #000000;
}

li {
    margin-bottom: 8px !important;
}

.multiline.sub ol li  {
    list-style-type: decimal;
    margin: 0 28px;
    color: #000000;
 }

.multiline.sub ul.normal li  {
    list-style-type: initial;
    margin: 0 18px;
}

h2 {
    width: 329px;
    height: 34px;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-family: 'Trueno Light', sans-serif;
    letter-spacing: 0px;
    line-height: 34px;
}

h3 {
    color: rgb(37, 37, 37);
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.6;
}

h3.title {
    color: rgb(37, 37, 37);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 1.6;
}

p {
    color: #000000;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 1.6;
}

.multiline.sub {
    color: #000000;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 1.6;
}

strong {
    font-weight: bold !important;
}