<div class="faq-container">
    <div class="generic-header">
        <h1 class="generic-header__h1 -margin-top">How can we help you?</h1>
        <p class="generic-subheader">Find answers to common questions here 🎉</p>
        <div class="faq-input__container">    
            <img class="faq-input__icon" src="/static/images/v2/icons/icon-search.svg" />
            <input class="faq-input" />
            <button class="button button-blog-search" id="buttonBlogSearch">Search</button>
        </div>
        <div class="faq-buttons__container">
            <a href="#" data-category="355593524" class="button button-faq">About True</a>
            <a href="#" data-category="719451347" class="button button-faq">Getting Started</a>
            <a href="#" data-category="1274" class="button button-faq">Using True</a>
            <a href="#" data-category="11934513" class="button button-faq">Privacy and Safety</a>
        </div>
    </div>

    <div class="generic-container">
        <div class="generic-container__section -no-border">
            <div class="blog-post-loader">
                <br />Just a second...<br /><br />
                <img src="../static/images/ui/backgrounds/ajax-loader.gif" />
            </div>
            <div class="blog-list">
                <ul id="blogHome" class="faq-article__list">
                    
                </ul>
            </div>
        </div>
    </div>
</div>

<script id="posts-template" type="text/x-handlebars-template">
    {{#each posts}}
        <li data-postid="{{articleId}}">
            <a class="faq-link" href="/faq/faq.html?id={{articleId}}">{{this.articleHeadline}}<img class="faq-link__icon" src="/static/images/v2/icons/icon-link-arrow.svg" /></a>
            <div class="generic-container__section -no-border -inline">{{{this.articleContent}}}</div>
        </li>
    {{/each}}
</script>

<script type="text/javascript">
    var postObj = {
        authorName: '',
        authorImg: '',
        articleDate: '',
        articleId: '',
        articleHeadline: '',
        articleExcerpt: '',
        articleImg: ''
    }
    var posts = [];
    var filteredPosts = [];
    var data = {
        posts: []
    };
    var template = Handlebars.compile(document.getElementById('posts-template').innerHTML);
    var postsData;

    function handleLinks() {
        var storageObj = JSON.parse(sessionStorage.getItem('trytrue-faq-list'));
        var $bodyLinks = $('a', $('.-inline'));
        $('.faq-link').click(function(e){
            let $element = $(this);
            e.preventDefault();
            if ($(this).hasClass('-active')) {
                $element.removeClass('-active');
                $('.generic-container__section',$(this).parent()).slideUp('fast');
            } else {
                $(this).addClass('-active');
                $('.generic-container__section',$(this).parent()).slideDown();
                
            }
        })

        $bodyLinks.click(function(e) {
            if ($(this).attr('href') && $(this).attr('href').includes('?id=')) {
                storageObj.currentId = $(this).closest('li').data('postid');
                sessionStorage.setItem('trytrue-faq-list',JSON.stringify(storageObj));
            }
        })
    }

    function searchPosts(term) {
        var postsArray = [];
        var searchablePosts = JSON.parse(sessionStorage.getItem('trytrue-faq-list')).posts;
        var $filters = $('.button-faq');
        if (term) {
            searchablePosts.forEach(function(post) {
                if (post.articleContent.toLowerCase().includes(term.toLowerCase()) || post.articleHeadline.toLowerCase().includes(term.toLowerCase())) {
                    postsArray.push(post);
                }
            })
            data.posts = postsArray;
            $('#blogHome').empty();
            postsData = template(data);
            $('.blog-post-loader').hide();
            document.getElementById('blogHome').innerHTML += postsData;
        } else {
            // posts.push(postObj);   
            data.posts = searchablePosts;
            $('#blogHome').empty();
            postsData = template(data);
            $('.blog-post-loader').hide();
            document.getElementById('blogHome').innerHTML += postsData;
        }
        $filters.removeClass('-selected');
        handleLinks();
    }

    function filterPosts(filter) {
        var postsArray = [];
        var searchablePosts = JSON.parse(sessionStorage.getItem('trytrue-faq-list')).posts;
        if (filter) {
            // filter the results
            searchablePosts.forEach(function(post) {
                if (post.categories.includes(filter)) {
                    postsArray.push(post);
                }
            })
            data.posts = postsArray;
            $('#blogHome').empty();
            postsData = template(data);
            $('.blog-post-loader').hide();
            document.getElementById('blogHome').innerHTML += postsData;
        } else {
            data.posts = searchablePosts;
            $('#blogHome').empty();
            postsData = template(data);
            $('.blog-post-loader').hide();
            document.getElementById('blogHome').innerHTML += postsData;
        }
        handleLinks();
    }

    function getThePosts(searchTerm,category) {
        if (category) {
            $('#blogHome').empty();
        }

        if (sessionStorage.getItem('trytrue-faq-list')) {
            let storagePosts = JSON.parse(sessionStorage.getItem('trytrue-faq-list'));

            data.posts = storagePosts.posts
            
            if (searchTerm) {
                $('#blogHome').empty();
                postsData = template(data);
            } else {
                postsData = template(data);
            }
            $('.blog-post-loader').hide();
            document.getElementById('blogHome').innerHTML += postsData;
            // handleLinks();
            if (storagePosts.currentId) {
                handleLinks();
                var $faqLinks = $('.faq-link');
                $faqLinks.each(function(i) {
                    if ($(this).parent().data('postid') === parseInt(storagePosts.currentId,10)) {
                        $(this).click();
                        $(window).animate({
                            scrollTop: ($(this).offset().top - 100)
                        },300,function(){
                            storagePosts.currentId = '';
                            sessionStorage.setItem('trytrue-faq-list',JSON.stringify(storagePosts));
                        });
                    }
                })      
            } else {
                $(window).animate({
                    scrollTop: 0
                },300);
                setTimeout(function() {
                    $('.button-faq[data-category="355593524"]').click();
                },200)
                //console.log($('.button-faq').data('category',));
            }

        } else {
            $('.blog-post-loader').show();
            $.get('https://us-central1-trytruecom-website.cloudfunctions.net/getWordPressPosts', function(response){
                var responseData = JSON.stringify(response.data);
                var responseJSON = JSON.parse(responseData);
                postsData = template(data);
                // console.log(responseJSON);

                responseJSON.reverse();

                $.each(responseJSON, function(i,e) {
                    postObj.authorName = e._embedded.author[0].name;
                    postObj.authorImg = e._embedded.author[0].avatar_urls ? e._embedded.author[0].avatar_urls[96] : '../static/images/ui/logos/logo-blog-trueicon.png';
                    postObj.articleDate = moment(e.date).format("MMM DD, YYYY");
                    postObj.articleId = e.id;
                    postObj.categories = e.categories;
                    postObj.articleHeadline = e.title.rendered.replace('&nbsp;',' ');
                    postObj.articleExcerpt = e.excerpt.rendered.replace(/<\/?[^>]+>/gi, '').substring(0, 60) + '...';
                    postObj.articleImg = e.jetpack_featured_media_url;
                    postObj.articleContent = e.content.rendered;
                    // categories
                    // 1 = uncategorized
                    // 1274 = Using True
                    // 11934513 = Privacy and Safety
                    // 355593524 = About True
                    // 719451347 = Getting Started
                    // 

                    if (searchTerm) {
                        if (postObj.articleContent.toLowerCase().includes(searchTerm.toLowerCase()) || postObj.articleHeadline.toLowerCase().includes(searchTerm.toLowerCase())) {
                            posts.push(postObj);  
                        }
                    } else {
                        posts.push(postObj);   
                    }
                    postObj = {};
                });

                let storageObject = {
                    filter: '',
                    searchTerm: '',
                    currentId: '',
                    posts: posts
                }

                // put posts in to localStorage
                sessionStorage.setItem('trytrue-faq-list', JSON.stringify(storageObject));

                data.posts = posts
            
                if (searchTerm) {
                    $('#blogHome').empty();
                    postsData = template(data);
                } else {
                    postsData = template(data);
                }
                $('.blog-post-loader').hide();
                document.getElementById('blogHome').innerHTML += postsData;
                $('.button-faq[data-category="355593524"]').click();
                // handleLinks();
            });
        }
    }

    getThePosts();

    $(function() {
        var $context = $('.faq-buttons__container'),
        $filters = $('.button-faq',$context),
        $searchBtn = $('#buttonBlogSearch');
        $searchInput = $('.faq-input'),
        setFilter = '';

        $searchInput.keyup(function(e) {
            if (e.which === 13) {
                searchPosts(e.target.value)
            }
        });

        $searchBtn.click(function(e) {
            e.preventDefault();
            searchPosts($searchInput.val());
        })

        

        $filters.click(function(e) {
            e.preventDefault();
            $searchInput.val('');
            if ($(this).hasClass('-selected')) {
                $(this).removeClass('-selected');
                setFilter = '';
                $('#blogHome').empty();
                filterPosts();
                return false;
            }

            $filters.removeClass('-selected');
            $(this).addClass('-selected');  
            setFilter = $(this).text(); 
            filterPosts($(this).data('category'))
        })
    });
</script>