
<div id="blogDetail">
</div>

<script id="blog-detail-template" type="text/x-handlebars-template">
       
    <div class="blog-hero__container">
        <div class="blog-hero">
            <div class="blog-hero__title">
                <h1>{{post.articleHeadline}}</h1>
                <p>{{{post.articleExcerpt}}}</p>
            </div>
            <div class="blog-hero__image" style="background-image: url({{post.articleImg}});">

            </div>
        </div>
    </div>

    <div class="blog-post__container">
        <div class="blog-post__info">
            <div class="blog-post__info--author">
                <img src="../static/images/ui/logos/logo-blog-trueicon.png">
                By {{post.authorName}}, {{post.articleDate}}
            </div>
            <div class="blog-post__info--social">
                <a href="#" target="_blank" class="twitter twitter-share">
                    <img src="../static/images/ui/logos/logo-share-twitter.png" />
                </a>
                <a href="#" target="_blank" class="linkedin linkedin-share">
                    <img src="../static/images/ui/logos/logo-share-linkedin.png" />
                </a>
                <a href="#" target="_blank" class="reddit">
                    <img src="../static/images/ui/logos/logo-share-reddit.png" />
                </a>
            </div>
        </div>
        <div class="blog-post__inner">
            {{{post.articleBody}}}
        </div>
    </div>
</script>

<script type="text/javascript">
    $(function() {
        var postId = getParam('id');
        $.get('https://us-central1-trytruecom-website.cloudfunctions.net/getWordPressPostById?id='+postId, function(response){
            var blogDetailData = JSON.stringify(response.data);
            var blogDetailJSON = JSON.parse(blogDetailData);
            console.log(blogDetailJSON)
            var postObj = {
                authorName: blogDetailJSON._embedded.author[0].name,
                articleDate: moment(blogDetailJSON.date).format("MMM DD, YYYY"),
                articleHeadline: blogDetailJSON.title.rendered.replace('&nbsp;',' '),
                articleExcerpt: blogDetailJSON.excerpt.rendered.replace(/<\/?[^>]+>/gi, '').substring(0, 140) + '...',
                articleImg: blogDetailJSON.jetpack_featured_media_url,
                articleBody: blogDetailJSON.content.rendered
                //articleBody: $.parseHTML(blogDetailJSON.content.rendered)
            }
            var blogDetailData = {
                post: postObj
            };
            var template = Handlebars.compile(document.getElementById('blog-detail-template').innerHTML);
            var blogData = template(blogDetailData);
            document.getElementById('blogDetail').innerHTML += blogData;
            $('.blog-loader').hide();

            // Set meta tags
            $('meta[name=description]').attr('content', postObj.articleExcerpt);
            document.title = postObj.articleHeadline + ' - True Blog';
            $('meta[property="og:title"]').attr('content', postObj.articleHeadline);
            $('meta[property="og:description"]').attr('content', postObj.articleExcerpt);
            shareBlogOnTwitter(postObj.articleHeadline);
            shareBlogOnLinkedIn(postObj.articleHeadline);


            var getMax = function() {
		        return $(document).height() - $(window).height();
	        }

            var getValue = function() {
                return $(window).scrollTop();
            }

            if ('max' in document.createElement('progress')) {
                var progressBar = $('progress');
                
                progressBar.attr({
                    max: getMax()
                });

                $(document).on('scroll', function() {
                    progressBar.attr({
                        value: getValue()
                    });
                });

                $(window).resize(function() {
                    
                    progressBar.attr({
                        max: getMax(),
                        value: getValue()
                    });
                });

            } else {

                var progressBar = $('.progress-bar'),
                    max = getMax(),
                    value, width;

                var getWidth = function() {
                    
                    value = getValue();
                    width = (value / max) * 100;
                    width = width + '%';
                    return width;
                }

                var setWidth = function() {
                    progressBar.css({
                        width: getWidth()
                    });
                }

                $(document).on('scroll', setWidth);
                $(window).on('resize', function() {
                    max = getMax();
                    setWidth();
                });
            }
        });
    });
</script>