<ul id="blogHome" class="faq-article__list">
    
</ul>

<script id="posts-template" type="text/x-handlebars-template">
    {{#each posts}}
        <li><a href="faq.html?id={{articleId}}">{{this.articleHeadline}}<img class="faq-link__icon" src="/static/images/v2/icons/icon-link-arrow.svg" /></a></li>
    {{/each}}
</script>

<script type="text/javascript">
    var postObj = {
        authorName: '',
        authorImg: '',
        articleDate: '',
        articleId: '',
        articleHeadline: '',
        articleExcerpt: '',
        articleImg: ''
    }

    var posts = [];

    $.get('https://us-central1-trytruecom-website.cloudfunctions.net/getWordPressPosts', function(response){
        var responseData = JSON.stringify(response.data);
        var responseJSON = JSON.parse(responseData);

        $.each(responseJSON, function(i,e) {
            console.log(e);
            postObj.authorName = e._embedded.author[0].name;
            postObj.authorImg = e._embedded.author[0].avatar_urls ? e._embedded.author[0].avatar_urls[96] : '../static/images/ui/logos/logo-blog-trueicon.png';
            postObj.articleDate = moment(e.date).format("MMM DD, YYYY");
            postObj.articleId = e.id;
            postObj.articleHeadline = e.title.rendered.replace('&nbsp;',' ');
            postObj.articleExcerpt = e.excerpt.rendered.replace(/<\/?[^>]+>/gi, '').substring(0, 60) + '...';
            postObj.articleImg = e.jetpack_featured_media_url;
            posts.push(postObj);
            postObj = {};
        });
        console.log(posts);
        var data = {
            posts: posts
        };
        var template = Handlebars.compile(document.getElementById('posts-template').innerHTML);
        var postsData = template(data);
        document.getElementById('blogHome').innerHTML += postsData;
    });
</script>