<nav style="position: fixed;z-index:10;width: 100%;">
    <div class="topnav-container">
        <div class="navigation-inner">
            @@if (section !== 'home') {
                <a href="/index.html" class="button-nav -home"><img src="/static/images/icons/icon-home.svg" width="20" /></a>
            }
            <div class="topnav-links">
                <!-- <a @@if (section === 'blog') {class="button-nav -selected"} @@if (section !== 'blog') {class="button-nav"} href="/blog/">BLOG</a> -->
                <a @@if (section === 'faq') {class="button-nav -selected"} @@if (section !== 'faq') {class="button-nav"} href="/faq.html">FAQ</a>
                <a @@if (section === 'community') {class="button-nav -selected"} @@if (section !== 'community') {class="button-nav"} href="/guidelines/">COMMUNITY GUIDELINES</a>
                <a @@if (section === 'home') {class="button-nav -selected"} @@if (section !== 'home') {class="button-nav"} id="tryTrueNav" target="_blank" href="/index.html#waitlist">TRY TRUE</a>
                
            </div>
        </div>
    </div>
</nav>