/* settings styles
*/
/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);
@import url(https://fontlibrary.org/face/trueno);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* font styles
*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/* global styles
*/
body {
  background-color: #ffffff;
  color: #095274;
  font-family: 'TruenoUltraLight', sans-serif;
}

a {
  color: #095274;
  text-decoration: underline;
}

.page-h1 {
  font-size: 60px;
  line-height: 1.2;
  padding-bottom: 25px;
  font-family: 'TruenoRegular', sans-serif;
}

.page-section__h1 {
  font-size: 44px;
  padding: 120px 0 40px;
  color: #ffffff;
}

.page-h2 {
  position: relative;
  font-size: 50px;
  line-height: 1.2;
  padding-bottom: 25px;
  font-family: 'TruenoRegular', sans-serif;
}
.page-h2.-inverse {
  color: #ffffff;
}
.page-h2.-about-section {
  font-size: 40px;
}

.page-h2__hr {
  position: absolute;
  top: -2px;
  left: 4px;
  width: 32px;
  height: 6px;
  background-color: #095274;
}
.page-h2__hr.-inverse {
  background-color: #ffffff;
}

.page-subheader {
  position: relative;
  z-index: 1;
  font-size: 18px;
  line-height: 1.3;
}
.page-subheader.-inverse {
  color: #ffffff;
}

.page-description {
  position: relative;
  z-index: 1;
  font-size: 16px;
  line-height: 1.3;
}

.section-cta {
  margin-top: 60px;
}

@media (max-width: 650px) {
  .page-h1 {
    font-size: 50px;
  }
}
/* navigation styles
*/
.topnav-container {
  position: absolute;
}

.navigation-inner {
  padding: 20px;
}

/* layout styles
*/
.page-outer {
  position: relative;
  width: 100%;
}

.page-outer__header {
  background-color: #ffffff;
}

.page-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

@media (max-width: 400px) {
  .page-inner {
    padding: 0 20px;
  }
}
/* home styles
*/
.hero-stage {
  -webkit-transition: opacity 0.9s;
  transition: opacity 0.9s;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
  width: 100%;
  height: 560px;
  background-color: #ffffff;
  background: url("../images/ui/scenery/bg-hero.jpg") 50% 50% no-repeat;
  background-size: cover;
  opacity: 0;
}
.hero-stage.-animate {
  opacity: 1;
}

.hero-stage__bottom {
  position: relative;
  top: -134px;
}

.hero-stage__header {
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  font-size: 60px;
  top: 50%;
  font-family: TruenoBlack;
  opacity: 0;
  line-height: 1;
  padding: 10% 30% 10% 10%;
}
.hero-stage__header.-animate {
  opacity: 1;
}
.hero-stage__header h1 {
  font-size: 60px;
}
.hero-stage__header p {
  padding-top: 20px;
  line-height: 1.3;
  font-size: 22px;
  font-family: TruenoRegular;
}

.hero-stage__tree {
  position: absolute;
  background-color: green;
  width: 100%;
  height: 100%;
  color: #ffffff;
  border-top: 1px solid #ffffff;
}
.hero-stage__tree.tree1 {
  z-index: 100;
  top: 50%;
}
.hero-stage__tree.tree2 {
  z-index: 200;
  top: 70%;
}
.hero-stage__tree.tree3 {
  z-index: 300;
  top: 90%;
}

.hero-stage__fog {
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  position: absolute;
  background: -webkit-linear-gradient(transparent 1%, white);
  background: linear-gradient(transparent 1%, white);
  width: 100%;
  height: 40%;
}
.hero-stage__fog.-animate {
  -webkit-transform: translate(0, 60%);
  -ms-transform: translate(0, 60%);
  transform: translate(0, 60%);
}
.hero-stage__fog.fog1 {
  z-index: 101;
  top: 50%;
}
.hero-stage__fog.fog2 {
  z-index: 202;
  top: 70%;
}
.hero-stage__fog.fog3 {
  z-index: 304;
  top: 90%;
}

.hero-stage__sun {
  -webkit-transition: all 2s;
  transition: all 2s;
  position: absolute;
  width: 480px;
  height: 460px;
  top: 30%;
  left: 60%;
  -webkit-transform: translate(400%, 400%);
  -ms-transform: translate(400%, 400%);
  transform: translate(400%, 400%);
  background: url("../images/ui/scenery/mr-sun.png") 50% 50% no-repeat;
}
.hero-stage__sun.-animate {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.main-site__container {
  position: relative;
  z-index: 1;
  padding-top: 60px;
}

.main-site__trees1 {
  position: absolute;
  top: 13%;
  z-index: 3;
}

.main-site__trees2 {
  position: absolute;
  top: 24%;
  z-index: 3;
}

.main-site__mountains {
  position: absolute;
  top: 13.7%;
  z-index: 1;
}

.main-site__background {
  position: relative;
  z-index: 2;
}

/* button styles
*/
button, .button {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: inline-block;
  margin: 0;
  padding: 14px 30px !important;
  border-radius: 5px;
  font-family: 'TruenoUltraLight', sans-serif;
  text-decoration: none;
  font-size: 18px;
  background: #21C4D0;
}
button:hover, .button:hover {
  opacity: 0.7;
}
button.button-play, .button.button-play {
  position: relative;
  padding-left: 60px !important;
}
button.button-trial, .button.button-trial {
  color: #000000;
  background: #ffffff;
}
button.button-hotspots, .button.button-hotspots {
  background-color: #FF496F;
  color: #095274;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
}
button.button-forecasting, .button.button-forecasting {
  background-color: #003155;
  color: #095274;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
}
button.button-pulse, .button.button-pulse {
  color: #ffffff;
  background-color: #FFD66F;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
}
button.button-events, .button.button-events {
  background-color: #01AEEB;
  color: #095274;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
}
button.button-signup, .button.button-signup {
  background-color: #21C4D0;
  color: #095274;
  box-shadow: 1px 4px 8px 1px rgba(33, 196, 208, 0.2);
}

.button-icon {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 26px;
}

.button-topnav {
  padding: 8px 15px !important;
  color: #095274;
  background-color: #4B49FF;
  font-size: 15px;
  font-family: 'TruenoRegular', sans-serif;
  box-shadow: 1px 1px 10px 1px rgba(75, 73, 255, 0.37);
}

/* animated cloud styles
*/
.animated-cloud {
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
  background: url("../images/ui/scenery/cloud.png") 50% 50% no-repeat;
  background-size: cover;
  z-index: 1000;
}
.animated-cloud.cloud1 {
  top: 40%;
  left: 0;
  width: 200px;
  height: 100px;
  -webkit-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  transform: translateX(-200px);
}
.animated-cloud.cloud1.-animate {
  -webkit-animation: movecloud 30s linear infinite;
  animation: movecloud 30s linear infinite;
}
.animated-cloud.cloud2 {
  top: 50%;
  left: 0;
  width: 160px;
  height: 80px;
  -webkit-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  transform: translateX(-200px);
}
.animated-cloud.cloud2.-animate {
  -webkit-animation: movecloud 40s linear infinite;
  animation: movecloud 40s linear infinite;
}

@-webkit-keyframes movecloud {
  0% {
    left: -200px;
  }
  100% {
    left: 120%;
  }
}

@keyframes movecloud {
  0% {
    left: -200px;
  }
  100% {
    left: 120%;
  }
}
/* animated cloud styles
*/
.animated-bird {
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
  background: url("../images/ui/scenery/bird1.gif") 50% 50% no-repeat;
  background-size: cover;
  z-index: 1000;
}
.animated-bird.bird1 {
  top: 80%;
  left: 0;
  width: 100px;
  height: 100px;
  -webkit-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  transform: translateX(-200px);
}
.animated-bird.bird1.-animate {
  -webkit-animation: movebird 8s linear infinite;
  animation: movebird 8s linear infinite;
}
.animated-bird.bird2 {
  top: 120%;
  left: 0;
  width: 50px;
  height: 50px;
  -webkit-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  transform: translateX(-200px);
}
.animated-bird.bird2.-animate {
  -webkit-animation: movebird 12s linear infinite;
  animation: movebird 12s linear infinite;
}

@-webkit-keyframes movebird {
  0% {
    left: -200px;
  }
  100% {
    left: 120%;
    top: 10%;
  }
}

@keyframes movebird {
  0% {
    left: -200px;
  }
  100% {
    left: 120%;
    top: 10%;
  }
}
