/* animated cloud styles
*/

// vars

// properties
.animated-bird {
    // transition: left 1s;
    position: absolute;
    background: url('../images/ui/scenery/bird1.png') 50% 50% no-repeat;
    background-size: cover;
    z-index: 4;
    &.bird1,&.bird3 {
        top: 22%;
        left: -100px;
        width: 50px;
        height: 50px;
        // transform: translateX(-200px);
        &.-animate {
            animation: movebird 12s linear infinite, flapper .3s linear infinite;
        }
    }
    &.bird3 {
        top: 50%;
    }
    &.bird2,&.bird4 {
        top: 25%;
        left: -100px;
        width: 30px;
        height: 30px;
        // transform: translateX(-200px);
        z-index: 6;
        &.-animate {
            animation: movebird 18s linear infinite, flapper .3s linear infinite;
        }
    }
    &.bird4 {
        top: 66%;
    }
}


// animations
@keyframes movebird
{
    0% {
        left: -100px;
        // transform: translateX(-200px);
    }

    30% {
        transform: translateY(-130%);
    }
    60% {
        transform: translateY(10%);
    }
    100% {
        left: 120%;
        transform: translateY(0);
        //transform: translateX(200%);
    }
}
@keyframes flapper
{
    0% {
        background-image: url('../images/ui/scenery/bird1.png');
    }
    50% {
        background-image: url('../images/ui/scenery/bird2.png');
    }
    // 100% {
    //     background-image: url('../images/ui/scenery/bird1.png');
    // }
}
