/* Blog styles
*/

// vars
$hero-height: 400px;
$hero-height-privacy: 260px;


// properties
// legal styles

#privacy, #terms {
    display: none;
}

.legal__outer {
    min-height: 500px;
}

.legal-header {
    text-align: center;
    color: #747474;
    line-height: 1.3;
    max-width: 700px;
    margin: 0 auto 60px;
    padding: 0 15px;
    h2 {
        color: #414141;
        font-size: 34px;
        font-family: TruenoExtraBold, sans-serif;
        margin-bottom: 10px;
    }
    p {
        font-size: 22px;
        font-family: TruenoSemiBold, sans-serif;
        color: #535353;
    }
}

.blog-loader {
    padding: 0;
    font-family: TruenoBold, sans-serif;
    font-size:20px;
    font-weight:bold;
    text-align: center;
    color: #1C6E5C;
}


.blog-home {
    max-width: 900px;
    margin: 0 auto;
    color: #414141;
    padding: 0 10px;
}

.blog-list {
    margin-bottom: 100px;
    &:after {
        content: '';
        clear: both;
        display: table;
    }
}

.blog-list__row {
    margin: 0 -10px;
}

.blog-list__item {
    float: left;
    width: 33.3%;
    box-sizing: border-box;
    min-height: 440px;
}

.blog-list__item--inner {
    padding: 0 10px;
}

.blog-list__item--image {
    margin: 20px 0 10px;
    background-size: cover;
    background-position: 50% 50%;
    display: block;
    width: 100%;
    height: 160px;
    // width: auto;
    // height: auto;
    a {
        display: block;
        height: 100%;
    }
}

.blog-list__item--title {
    font-size: 24px;
    line-height: 1.2;
    font-family: TruenoSemiBold, sans-serif;
    margin-bottom: 5px;
    a {
        color: #414141;
        text-decoration: none;
    }
}
.blog-list__item--description {
    font-size: 16px;
    color: #808080;
    line-height: 1.2;
    font-family: TruenoRegular, sans-serif;
}

.blog-feature {
    &:after {
        content: '';
        clear: both;
        display: table;
    }
}

.blog-feature__image {
    float: left;
    padding-right: 10px;
    box-sizing: border-box;
    display: block;
    width: 66.6%;
    height: 330px;
    // width: auto;
    // height: auto;
}

.blog-feature__image--inner {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
}

.blog-feature__content {
    width: 33.3%;
    float: left;
    height: 330px;
    padding-left: 10px;
    box-sizing: border-box;
}

.blog-feature__header {
    font-size: 28px;
    line-height: 1.2;
    font-family: TruenoSemiBold, sans-serif;
    margin-bottom: 10px;
    a {
        color: #414141;
        text-decoration: none;
    }
}

.blog-feature__description {
    font-size: 20px;
    color: #808080;
    line-height: 1.2;
    font-family: TruenoRegular, sans-serif;
}

.blog-author {
    position: relative;
    margin-top: 30px;
    padding-left: 50px;
    color: #808080;
    line-height: 1.1;
    font-family: TruenoRegular, sans-serif;
}

.blog-author__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    img {
        width: 38px;
        height: 38px;
        border-radius: 50%;  
    }
}

.blog-author__name {
    a {
        color: #808080;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.blog-author__date {
    padding-top: 5px;
    font-size: 14px;
}
.blog-hero__container {
    overflow: auto;
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 20px;
}
.blog-hero {
    position: relative;
    width: 100%;
    margin: 100px auto 50px;
    padding: 0 460px 0 20px;
    min-height: $hero-height;
    box-sizing: border-box;
    &:after {
        content: '';
        clear: both;
        display: table;
    }
    &.-privacy {
        min-height: $hero-height-privacy;
    }
}

.blog-hero__title {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 52%;
    padding-right: 40px;
    box-sizing: border-box;
    text-align: left;
    line-height: 1.2;
    transform: translateY(-50%);
    h1 {
        font-size: 45px;
        font-family: TruenoBlack, sans-serif;
        color: #535353;
        margin-bottom: 20px;
    }
    p {
        font-size: 20px;
        line-height: 1.4;
        font-family: TruenoRegular, sans-serif;
        color: #535353;
    }
}

.blog-hero__image {
    position: absolute;
    top: 0;
    right: 20px;
    width: 400px;
    height: 400px;
    background-position: 50% 50%;
    background-size: cover;
    &.-privacy {
        height: $hero-height-privacy;
    }
}

.blog-post__container, .legal__container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px 20px 100px;
}

.blog-post__outer {
    position: relative;
    min-height: 900px;
    .blog-loader {
        padding-top: 100px;
    }
}

.blog-post__container {
    position: relative;
    padding: 40px 60px 0;
    margin-top: 40px;
    max-width: 1060px;
    box-sizing: border-box;
}

.blog-post__info {
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

.blog-post__info--author {
    position: relative;
    padding: 10px 0 0 46px;
    color: #535353;
    font-size: 18px;
    font-family: TruenoSemiBold, sans-serif;
    img {
        position: absolute;
        top: 3px;
        left: 0;
        width: 32px;
    }
}

.blog-post__info--social {
    position: absolute;
    right: -6px;
    top: 0;
}

.legal__container {
    position: relative;
    box-sizing: border-box;
    padding: 70px 20px 100px;
}

.legal-nav {
    width: 100%;
    text-align: center;
    a {
        transition: all 0.35s;
        display: inline-block;
        font-size: 22px;
        font-family: TruenoSemiBold, sans-serif;
        text-decoration: none;
        margin: 0 10px 20px;
        padding: 0 10px 14px;
        color: #4A4A4A;
        &.-selected {
            color: #156472;
            border-bottom: 1px solid #156472;
        }
    }
}

.blog-post__inner, .legal__inner {
    // border-top: 1px solid #808080;
    margin: 0 20px;
    padding: 10px 0 40px;
    font-size: 18px;
    font-family: TruenoRegular, sans-serif;
    line-height: 1.4;
    color: #535353;
    strong {
        font-family: TruenoBold, sans-serif;
    }
    h1, h2 {
        font-family: TruenoBold, sans-serif;
        padding-bottom: 18px;
    }
    h1 {
        font-size: 34px;
        font-family: TruenoExtraBold, sans-serif;
    }
    h2 {
        font-size: 22px;
        padding-bottom: 30px;
    }
    p {
        font-size: 16px;
        padding-bottom: 30px;
    }
    ol {
        font-size: 16px;
        padding: 0 20px 30px 60px;
        list-style-type: decimal;
        li {
            padding: 4px 0;
        }
        ol {
            padding: 10px 20px 30px 60px;
        }
    }
    ul {
        font-size: 16px;
        padding: 0 20px 30px 60px;
        list-style-type: disc;
        li {
            padding: 4px 0;
        }
        ul {
            padding: 10px 20px 30px 60px;
        }
    }
}

.legal__inner {
    border: none;
}

@media (max-width: 1155px) {
    .blog-post__container {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (max-width: 950px) {
    .blog-hero__image {
        width: 300px;
        height: 300px;
    }
    .blog-hero {
        min-height: 300px;
    }
}
@media (max-width: 850px) {
    .blog-feature__image, .blog-feature__content {
        width: 50%;
        padding-left: 0;
    }
    .blog-hero__title {
        h1 {
            font-size: 38px;
        }
    }
}
@media (max-width: 680px) {
    .blog-feature__image, .blog-feature__content {
        width: 100%;
        float: none;
    }
    .blog-feature__image {
        margin-bottom: 20px;
        padding-right: 0;
    }
    .blog-feature__content {
        height: auto;
        margin-bottom: 20px;
    }
    .blog-list__item {
        width: 50%;
    }
    .blog-hero__image {
        &.-privacy {
            display: none;
        }
    }
    .blog-hero.-privacy {
        min-height: auto;
        padding: 0;
        min-height: auto;
        margin-bottom: 0;
        padding-top: 60px;
    }
    // .blog-hero__title {
    //     width: 100%;
    //     padding-top: 30px;
    //     left: 0;
    //     padding-right: 0px;
    //     position: relative;
    //     top: 0;
    //     transform: translateX(0);
    //     h1 {
    //         font-size: 40px;
    //         margin-bottom: 20px;
    //     }
    // }
    .blog-post__container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .blog-hero__container {
        overflow: visible;
    }
    .blog-hero {
        margin-top: 0;
        padding: 100px 0 40px;
    }
    .blog-hero__title {
        position: relative;
        width: 52%;
        padding-right: 40px;
        box-sizing: border-box;
        text-align: left;
        line-height: 1.2;
        transform: translateY(0);
    }
    .blog-hero__image {
        top: 50%;
        width: 200px;
        height: 200px;
        transform: translateY(-50%);
    }
}

@media (max-width: 550px) {
    .blog-list__item {
        margin-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .blog-list__item--image {
        width: 300px;
        height: 130px;
        max-width: 100%;
        margin: 0 auto 20px;
    }
    .blog-hero__title {
        width: 100%;
        padding-right: 0;
        left: 0;
        text-align: center;
    }
    .blog-hero__image {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        height: 250px;
        max-width: 100%;
        transform: translateY(0);
        margin: 40px auto 0;
        text-align: center;
    }
    .blog-post__container {
        padding: 20px 0px 0;
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .blog-post__info--social {
        right: auto;
        top: -42px;
        left: 50%;
        transform: translateX(-50%);
    }
    .blog-post__info {
        top: -20px;
    }
    #blogFeature {
        padding: 0 10px;
    }
}

@media (max-width: 500px) {
    .blog-list__item {
        width: 100%;
        float: none;
        min-height: auto;
    } 
    .legal__inner {
        padding: 10px 0 0;
        margin: 0;
        h1, h2 {
        }
        h1 {
            font-size: 32px;
        }
        h2 {
        }
        p {
            padding-bottom: 30px;
        }
        ol {
            padding: 0 0 30px 30px;
            list-style-type: decimal;
        }
        ul {
            padding: 0 0 30px 30px;
            list-style-type: disc;
            li {
                padding: 4px 0;
            }
            ul {
                padding: 10px 0 30px 30px;
            }
        }
    }
    .legal-nav {
        a {
            font-size: 18px;
            margin: 0 4px 10px;
            padding: 0 2px 8px;
        }
    }
    .blog-list__item--image {
        width: 100%;
        height: 200px;
        max-width: 100%;
        margin: 0 auto 20px;
    }
}
