/* button styles
*/

button, .button {
    transition: all 0.4s;
    display: inline-block;
    margin: 0;
    padding: 19px 40px !important;
    border-radius: 28px;
    font-family: TruenoBold;
    text-decoration: none;
    font-size: 18px;
    background: $color-bg-button;
    color: $color-button;
    &:hover {
        transform: scale(1.05);
    }
    &.-disabled {
        background: $color-button-disabled;
        color: $color-button;
        &:hover {
            transform: scale(1);
        }
    }
    &.-small {
        padding: 12px 28px !important;
        font-size: 14px;
        font-family: TruenoRegular;
        border-radius: 20px;
        text-transform: uppercase;
    }
}

.button-android {
    background-color: $color-bg-android;
}

.button-shadow {
    box-shadow: $button-box-shadow;
}

.button-icon {
    position: relative;
    padding-left: 62px !important;
    img {
        position: absolute;
        top: 15px;
        left: 28px;
        width: 26px;
    }
}

.button-nav {
    background-color: $color-button;
    border: 1px solid $color-button-border;
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 10px;
    color: $color-button-font;
    &:hover {
        transform: scale(1.02);
    }
    &.-selected {
        color: $color-button;
        padding: 10px 28px;
        background-color: $color-button-selected;
        border: 1px solid $color-button-selected;
    }
    &.-home {
        position: relative;
        display: block;
        width: 34px;
        height: 38px;
        box-sizing: border-box;
        border-radius: 10px;
        img {
            position: absolute;
            top: 50%;
            width: 50%;
            transform: translate(-50%,-50%);
        }
    }
}

.button-center {
    text-align: center;
}

.button-weblink {
    float: left;
    background-color: #1a3b41;
}

.button-close {
    padding: 15px 30px !important;
    font-size: 18px;
    background-color: $color-button-disabled;
}

.button-modal {
    padding: 15px 30px !important;
    font-size: 18px;
    margin-right: 10px;
}

.button-social {
    transition: all 0.4s;
    float: left;
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin-right: 20px;
    &:hover {
        transform: scale(1.05);
    }
    &.-facebook {
        background-color: $color-bg-facebook;
        img {
            width: 20px;
        }
    }
    &.-twitter {
        background-color: $color-bg-twitter;
        img {
            width: 40px;
        }
    }
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.button-social__mini {
    transition: all 0.4s;
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: block;
    float: left;
    background-color: black;
    margin-right: 12px;
    &.-modal {
        width: 30px;
        height: 30px;
        border-radius: 10px;
        margin-right: 5px;
        &.-linkedin {
            img {
                height: 20px;
            }
        }
        &.-angellist {
            img {
                height: 22px;
            }
        }
    }
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        height: 20px;
    }
    &.-facebook {
        background-color: $color-bg-facebook;
        img {
            height: 16px;
        }
    }
    &.-twitter {
        background-color: $color-bg-twitter;
        img {
            height: 18px;
        }
    }
    &.-linkedin {
        background-color: $color-bg-linkedin;
        img {
            height: 28px;
        }
    }
    &.-instagram {
        background-color: $color-bg-instagram;
        img {
            height: 22px;
        }
    }
    &.-angellist {
        img {
            height: 26px;
        }
    }
    &:hover {
        transform: scale(1.05);
    }
}


.button-block__modal {
    display: block;
    float: none;
    margin: 0;
    padding: 15px 20px !important;
    border-radius: 25px;
    font-family: TruenoBold;
    // box-sizing: border-box;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 10px;
    color: $color-button;
    width: auto !important;
    height: auto !important;
}

@media (max-width: 950px) {
    button, .button {
        padding: 16px 30px !important;
        font-size: 16px;
    } 
    .button-icon {
        position: relative;
        padding-left: 45px !important;
        img {
            position: absolute;
            top: 12px;
            left: 18px;
            width: 22px;
        }
    }
}

@media (max-width: 800px) {
    .button-social__mini {
        width: 38px;
        height: 38px;
        margin-right: 4px;
    }
    button, .button {
        font-size: 16px;
        padding: 14px 30px !important;
    }
    .button-social {
        width: 42px;
        height: 42px;
        &.-facebook {
            img {
                width: 14px;
            }
        }
        &.-twitter {
            img {
                width: 26px;
            }
        }
    }
}

@media (max-width: 640px) {
    .button-nav {
        font-size: 14px;
        padding: 8px 14px;
        margin-left: 5px;
        &.-home {
            width: 34px;
            height: 34px;
            padding: 8px 16px;
        }
        &.-selected {
            display: none;
        }
    }
}

@media (max-width: 361px) {
    button, .button {
        font-size: 16px;
        padding: 14px 20px !important;
    }
}


