/* button styles
*/

button, .button {
    transition: all 0.4s;
    display: inline-block;
    margin: 0;
    padding: 18px 40px !important;
    border-radius: 25px;
    font-family: TruenoBold;
    text-decoration: none;
    font-size: 20px;
    background: $color-bg-button;
    color: $color-button;
    &:hover {
        transform: scale(1.05);
    }
    &.-disabled {
        background: $color-button-disabled;
        color: $color-button;
        &:hover {
            transform: scale(1);
        }
    }
}

.button-center {
    text-align: center;
}

.button-weblink {
    float: left;
    background-color: #1a3b41;
}

.button-social {
    transition: all 0.4s;
    float: left;
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin-right: 20px;
    &:hover {
        transform: scale(1.05);
    }
    &.-facebook {
        background-color: $color-bg-facebook;
        img {
            width: 20px;
        }
    }
    &.-twitter {
        background-color: $color-bg-twitter;
        img {
            width: 40px;
        }
    }
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

@media (max-width: 800px) {
    button, .button {
        font-size: 16px;
        padding: 14px 30px !important;
    }
    .button-social {
        width: 42px;
        height: 42px;
        &.-facebook {
            img {
                width: 14px;
            }
        }
        &.-twitter {
            img {
                width: 26px;
            }
        }
    }
}

@media (max-width: 361px) {
    button, .button {
        font-size: 16px;
        padding: 14px 20px !important;
    }
}


