/* FAQ styles
*/

// vars

// properties

.faq-back-button {
    position: relative;
    padding: 10px 0 10px 50px;
    font-family: TruenoRegular, sans-serif;
    font-size: 18px;
    color: #303030;
    text-decoration: none;
    .faq-back__icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%) rotate(180deg);

    }
}

.iframe-container {
    margin: 0 -100px;
    iframe {
        height: 600px;
        width: 100%;
    }
}

.generic-header {
    padding-top: 100px;
    padding-bottom: 10px;
}

.generic-header__logo {
    margin: 0 auto 30px;
    display: block;
}

.generic-header__h1 {
    text-align: center;
    font-family: TruenoBlack, sans-serif;
    font-size: 35px;
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.4;
    &.-margin-top {
        margin-top: 44px;
    }
    &.-align-left {
        text-align: left;
        max-width: 100%;
    }
    &.-small {
        font-size: 30px;
    }
}

.generic-subheader {
    text-align: center;
    font-family: TruenoRegular, sans-serif;
    font-size: 18px;
    padding: 15px 0;
}

.generic-header__image {
    text-align: center;
    margin: 40px 0 10px;
    img {
        max-width: 474px;
        width: 100%;
    }
}

.faq-buttons__container {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 20px;
}

.faq-input__container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.faq-input__icon {
    position: absolute;
    top: 50%;
    left: 28px;
    z-index: 1;
    transform: translateY(-50%);
}

.faq-input {
    position: relative;
    background-color: #F7F7F7;
    display: inline-block;
    width: 68%;
    max-width: 400px;
    border: none;
    font-size: 16px;
    padding: 20px 20px 20px 60px;
    box-sizing: border-box;
    margin: 20px 5px 20px 0;
    border-radius: 50px;
    font-family: TruenoRegular, sans-serif;
}
.button-blog-search {
    display: inline-block;
    max-width: 144px;
    @media (max-width: 500px) {
        padding: 19px 16px !important;
    }
}

.faq-article__list {
    list-style: none !important;
    margin: 20px 0 0 0 !important;
    li {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 22px;
        font-family: TruenoBlack, sans-serif;
        .faq-link {
            position: relative;
            color: #303030;
            text-decoration: none;
            padding: 22px 100px 22px 1px;
            display: block;
            border-bottom: 10px solid #F7F7F7;
            &.-active {
                border-bottom: 10px solid white;
                img {
                    transform: translateY(-50%) rotate(90deg);
                }
            }
        }
        &:first-child {
            border-top: 10px solid #F7F7F7;
        }
    }
}

.faq-link__icon {
    transition: all 0.25s;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.generic-subheader__image {
    text-align: center;
    margin-bottom: 40px;
    img {
        max-width: 150px;
        width: 100%;
        &.-guidelines {
            max-width: 140px;
        }
        &.-conversations {
            max-width: 200px;
        }
    }
}

.generic-hr {
    margin: 30px auto 40px;
    height: 10px;
    max-width: 200px;
    background-color: #F7F7F7;
}

.generic-container {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 16px 60px;
    box-sizing: border-box;
    &.-margin-top {
        padding-top: 165px;
        text-align: left;
    }
}

.generic-container__cta {
    text-align: center;
    margin-bottom: 50px;
    .button {
        box-shadow: $button-box-shadow;
    }
}

.generic-container__section {
    position: relative;
    font-size: 22px;
    line-height: 1.5;
    font-family: TruenoRegular, sans-serif;
    border-bottom: 10px solid #F7F7F7;
    padding-bottom: 20px;
    margin-bottom: 40px;
    &.-no-border {
        border-bottom: none;
    }
    &.-margin-top {
        margin-top: 30px;
    }
    h2 {
        font-family: TruenoBlack, sans-serif;
        font-size: 26px;
        line-height: 1.4;
        margin-bottom: 30px;
    }
    h3 {
        display: none;
    }
    a {
        color: #4c8bff;
    }
    p {
        display: block;
        margin-bottom: 26px;
        line-height: 1.6;
        img {
            vertical-align: middle;
        }
    }
    .wp-block-image {
        text-align: center;
    }
    strong {
        font-family: TruenoBold, sans-serif;
    }
    ul {
        margin-bottom: 20px;
        list-style: disc;
        margin-left: 30px;
        li {
            padding-left: 10px;
            margin-bottom: 30px;
        }
    }
    &.-inline {
        display: none;
        p {
            font-size: 20px;
            line-height: 1.5;
        }
    }
}

.generic__item {
    padding: 26px 40px;
    box-shadow: $faq-box-shadow;
    background-color: $color-bg-card;
    border-radius: 15px;
    margin-bottom: 30px;
    color: $color-faq-font;
    font-family: TruenoRegular, sans-serif;
    &.-no-background {
        box-shadow: none;
        padding-top: 0;
    }
    @media (max-width: 800px) {
        padding: 26px 20px;
    }
}

.generic__item--header {
    position: relative;
    font-size: 22px;
    padding-right: 40px;
    line-height: 1.2;
    font-family: TruenoSemiBold, sans-serif;
    color: #4A4A4A;
    padding-left: 34px;
    &.-big {
        padding-left: 0;
        font-size: 30px;
    }
    img {
        position: absolute;
        left: 0;
        top: 0px;
    }
    &.-no-icon {
        padding-left: 0;
    }
}

.generic__item--content {
    display: block;
    font-size: 18px;
    line-height: 1.3;
    color: #535353;
    font-family: TruenoRegular, sans-serif;
    p {
        margin-top: 20px;
    }
    strong {
        font-family: TruenoSemiBold, sans-serif; 
    }
    &.-slim {
        max-width: 360px;
        margin: 0 auto;
    }
}


.faq-container {
    max-width: 900px;
    margin: 0 auto;
    color: #414141;
}

.faq-header {
    padding-top: 100px;
    padding-bottom: 30px;
}

.faq-header__h1 {
    text-align: center;
    font-size: 35px;
    font-family: TruenoBlack, sans-serif;
    color: #414141;
    margin-bottom: 10px;
}

.faq-header__img {
    width: 100%;
}

.faq-questions {
    opacity: 0;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 16px;
    box-sizing: border-box;
}

.faq-questions__item {
    padding: 26px 40px;
    box-shadow: $faq-box-shadow;
    background-color: $color-bg-card;
    border-radius: 15px;
    margin-bottom: 30px;
    color: $color-faq-font;
    font-family: TruenoRegular, sans-serif;
}

.faq-questions__item-question {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    padding-right: 40px;
    line-height: 1.2;
    font-family: TruenoSemiBold, sans-serif;
    color: #4A4A4A;
}

.faq-questions__item-control {
    transition: all 0.35s;
    position: absolute;
    cursor: pointer;
    right: -14px;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 26px;
    display: block;
    background-color: #E9EDF0;
    transform: translateY(-50%);
    line-height: 1;
    font-family: TruenoRegular, sans-serif;
    &.-open {
        transform: translateY(-50%) rotate(45deg);
    }
}

.faq-questions__item-anwser {
    // transition: all 0.35s;
    display: block;
    // height: 0px;
    // opacity: 1;
    // overflow: hidden;
    font-size: 14px;
    line-height: 1.3;
    color: #535353;
    font-family: TruenoSemiBold, sans-serif;
    &.-open {
        display: block;
        // overflow: hidden;
        // animation: faqopen .6s ease-in;
        // animation-fill-mode: forwards;
    }
    p {
        margin-top: 20px;
    }
}

.faq-more {
    max-width: 960px;
    margin: 0 auto;
    color: $color-faq-font;
}

.faq-more__header {
    padding: 20px 0 30px 0;
    text-align: center;
    font-size: 32px;
    font-family: TruenoBold, sans-serif;
    line-height: 1.2;
    color: #535353;
}

.faq-more__row {
    padding-bottom: 60px;
    &:after {
        content: '';
        clear: both;
        display: table;
    }
}

.faq-more__item {
    float: left;
    width: 33.3%;
    padding: 10px;
    box-sizing: border-box;
}

.faq-more__item--inner {
    background-color: #F2F4F8;
    border-radius: 20px;
    padding: 34px 30px;
    text-align: center;
    font-family: TruenoRegular, sans-serif;
}

.faq-more__item--header {
    font-size: 20px;
    font-family: TruenoBold, sans-serif;
    color: #535353;
}

.faq-more__item--content {
    font-size: 15px;
    font-family: TruenoRegular, sans-serif;
    opacity: 0.8;
    line-height: 1.3;
    padding: 20px 0;
    color: #9B9C9B;
    min-height: 105px;
}

.faq-more__item--content {
    text-align: left;
}

.faq-footer, .generic-footer {
    width: 100%;
    background-color: #1e6453;
    padding: 60px;
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
    background: url('../images/ui/backgrounds/bg-faq-footer.jpg') 50% 50% no-repeat;
    background-size: cover;
}

.generic-footer__inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 80px;
}

.faq-footer__header, .generic-footer__header {
    font-size: 20px;
    font-family: TruenoBold, sans-serif;
    margin-bottom: 6px;
    a {
        color: #ffffff !important;
        text-decoration: none;
    }
}

.faq-footer__content, .generic-footer__content {
    font-size: 16px;
    font-family: TruenoRegular, sans-serif;
}

.faq-footer__legal, .generic-footer__legal {
    margin-top: 20px;
    a {
        text-decoration: none;
        color: #ffffff;
        font-family: TruenoRegular, sans-serif;
        &:hover {
            text-decoration: underline;
        }
    }
}

.feedback-container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 16px 60px;
    box-sizing: border-box;
}

.feedback-ctas {
    display: flex;
    flex-wrap: nowrap;
}

.feedback-cta {
    width: 33.3%;
    box-sizing: border-box;
    padding: 30px 20px 40px;
    margin: 10px;
    text-align: center;
    background-color: #F2F4F8;
    text-align: center;
    border-radius: 30px;
}

.feedback-cta__header {
    font-size: 22px;
    font-family: TruenoBlack, sans-serif;
    margin: 5px 0 20px;
}

.feedback-cta__text {
    font-size: 18px;
    font-family: TruenoRegular, sans-serif;
    line-height: 1.7;
    margin-bottom: 30px;
}

@keyframes faqopen
{
    0% {}
    80% {
        height: 480px;
    }
    100% {
        height: auto;
        overflow: visible;
    }
}
@media (max-width: 1200px) {
    .generic-footer__inner {
        padding-left: 0;
    }
}

@media (max-width: 850px) {
    .feedback-ctas {
        display: block;
        max-width: 500px;
        margin: 0 auto;
    }
    
    .feedback-cta {
        width: 100%;
        margin: 0 0 20px 0;
    }
}


@media (max-width: 800px) {
    .faq-more__row {
        max-width: 640px;
        width: 80%;
        margin: 22px auto 60px;
        padding: 0px 16px;
        box-sizing: border-box;
    }
    .faq-more__item {
        float: none;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    .faq-more__item--content {
        text-align: center;
    }
    .generic-footer {
        padding: 40px 20px;
    }
}

@media (max-width: 575px) {
    .faq-questions__item-question {
        font-size: 18px;
    }
    .faq-questions__item-anwser {
        font-size: 14px;
    }
    .faq-more__header {
        font-size: 24px;
        padding: 0 20px;
    }
    .faq-questions__item {
        padding: 26px 30px;
    }
    .generic-header__h1 {
        max-width: 240px;
        margin: 0 auto;
        line-height: 1.2;
        br {
            display: none;
        }
    }
    .generic-subheader {
        max-width: 240px;
        margin: 0 auto;
        line-height: 1.3;
    }
    .generic-container {
        padding: 0px 20px 60px;
    }
    .generic-container__section {
        font-size: 20px;
        p {
            margin-bottom: 20px;
            line-height: 1.5;
        }
    }
    .faq-article__list {
        li {
            font-size: 20px;
            line-height: 1.3;
        }
    }
}

@media (max-width: 750px) {
    .faq-questions__item-anwser {
        min-height: auto !important;
    }
}

@media (max-width: 450px) {
    .generic-header {
        padding: 80px 20px 0 20px;
        .faq-header__h1 {
            margin-bottom: 14px;
        }
    }
    .faq-more__row {
        max-width: 640px;
        width: 100%;
        margin: 22px auto 60px;
        padding: 0px 16px;
        box-sizing: border-box;
    }
}

