/* features styles
*/

// vars

// properties
.phone-features {
    position: relative;
    padding-left: 49%;
}

.phone-features__quote {
    transition: all 0.3s;
    position: absolute;
    left: 0;
    bottom: 200px;
    padding: 50px;
    width: 50%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 60px;
    box-shadow: $card-box-shadow;
    font-size: 36px;
    font-family: TruenoBlack, sans-serif;
    line-height: 1.3;
    min-height: 320px;
}

.phone-features__quote--profile {
    position: absolute;
    bottom: -55px;
    left: -112px;
    width: 90px;
    height: 90px;
    img {
        width: 90px;
    }
}

.phone-features__quote--bubble {
    position: absolute;
    bottom: -17px;
    left: -15px;
}

.phone-features__video {
    width: 120%;
    max-width: 490px;
}

@media (max-width: 1100px) {
    .phone-features__quote {
        left: 20px;
        font-size: 34px;
    }
    .phone-features__video {
        max-width: 470px;
    }
}

@media (max-width: 1000px) {
    .phone-features__quote {
        font-size: 30px;
        min-height: 266px;
        width: 45%;
        margin-left: 40px;
        bottom: 190px;
    }
    .phone-features__quote--profile {
        width: 72px;
        height: 72px;
        bottom: -54px;
        left: -94px;    
        img {
            width: 72px;
        }
    }
    .phone-features__video {
        max-width: 420px;
    }
}

@media (max-width: 800px) {
    .phone-features__video {
        max-width: 360px;
    }
    .phone-features__quote {
        font-size: 24px;
        padding: 50px 30px;
    }
}

@media (max-width: 700px) {
    .phone-features__video {
        max-width: 360px;
    }
    .phone-features__quote {
        font-size: 18px;
        padding: 34px 40px;
        font-family: TruenoSemiBold, sans-serif;
        min-height: 158px;
        width: 40%;
        left: 84px;
    }
    .phone-features__video {
        max-width: 320px;
    }
}
@media (max-width: 700px) {
    .phone-features__quote {
        bottom: auto;
        top: 50px;
        left: 46px;
        text-align: left;
    }
    .phone-features {
        padding-left: 0;
        text-align: center;
    }
    .phone-features__video {
        max-width: 65%;
        margin-left: 30%;
    }
}

@media (max-width: 600px) {
    .phone-features__quote {
        left: 0;
        width: 60%;
    }
    .phone-features__video {
        max-width: 70%;
        margin-left: 15%;
    }
    .phone-features__quote--bubble {
        bottom: -31px;
        left: 54px;
    }
    .phone-features__quote--profile {
        bottom: -79px;
        left: -18px;
    }
}

@media (max-width: 530px) {
    .phone-features__quote {
        position: relative;
        left: auto;
        width: 80%;
        font-size: 18px;
        line-height: 1.5;
    }
    .phone-features {
        padding-top: 0;
        text-align: right;
    }
    .phone-features__video {
        max-width: 84%;
        margin-left: 0
    }
}

@media (max-width: 450px) {
}