/* features styles
*/

// vars

// properties
.phone-features {
    position: relative;
    padding-left: 49%;
}

.phone-features__quote {
    transition: all 0.3s;
    position: absolute;
    left: 0;
    bottom: 200px;
    padding: 50px;
    width: 50%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 60px;
    box-shadow: $card-box-shadow;
    font-size: 36px;
    font-family: TruenoBlack, sans-serif;
    line-height: 1.3;
    min-height: 320px;
}

.phone-features__quote--profile {
    position: absolute;
    bottom: -55px;
    left: -112px;
    width: 90px;
    height: 90px;
    img {
        width: 90px;
    }
}

.phone-features__quote--bubble {
    position: absolute;
    bottom: -17px;
    left: -15px;
}

.phone-features__video {
    width: 450px;
}

@media (max-width: 1000px) {
    .phone-features__quote {
        font-size: 30px;
        min-height: 266px;
        width: 45%;
        margin-left: 40px;
        bottom: 190px;
    }
    .phone-features__quote--profile {
        width: 72px;
        height: 72px;
        bottom: -54px;
        left: -94px;    
        img {
            width: 72px;
        }
    }
}