/* home styles
*/

// vars
$hero-sunrise-timing: 1.8s;
$hero-animation-duration: 0.9s;
$hero-animation-duration-long: 2s;

// properties

.h2-home {
    font-size: 50px;
    font-family: TruenoBlack, sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 1px 1px 2px #000000;
}

.p-home {
    font-size: 32px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
    font-family: TruenoRegular, sans-serif;
}

.hero-panel {
    position: absolute;
    z-index: 20;
    width: 100%;
    top: 300px;
}

.hero-panel__inner {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 430px;
    box-sizing: border-box;
    h1 {
        font-size: 48px;
        font-family: TruenoBlack, sans-serif;
        line-height: 1.3;
    }
    p {
        font-size: 27px;
        line-height: 1.6;
        padding-top: 20px;
        font-family: TruenoRegular, sans-serif;
    }
    .hero-panel__phone {
        position: absolute;
        right: -50px;
        top: -200px;
        width: 50%;
        max-width: 440px;
        .video {
            position: absolute;
            top: 11.1%;
            left: 21.1%;
            width: 59%;
            video {
                width: 100%;
                border-radius: 25px;
            }
        }
        img {
            width: 100%;
        }
    }
}

.hero-panel__ctas {
    padding-top: 30px;
    a {
        display: inline-block;
        margin: 0 2px 6px;
        min-width: 175px;
    }
}


html, body {
    // overflow: scroll;
    // height: 100vh;
    // scroll-snap-type: mandatory;
    // scroll-snap-points-y: repeat(100vh);
    // scroll-snap-type: y mandatory;
    &.-static {
        overflow: hidden;
    }
}

.page-outer__scroll {
    // overflow-y: scroll;
    // scroll-snap-type: y mandatory;

}

.preloader-shim {
    &.-animate {
        // background-color: white;
        opacity: 1; 
        animation: preloader 1s;
        animation-fill-mode: forwards;
    }
}

@keyframes preloader {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 0;
        display: block;
        width:100vw;
        height:100vh;
    }
    100% {
        opacity: 0;
        display: none;
        width:1px;
        height:1px;
    }
}

#downloadButtons {
    opacity: 0;
    &.-animate {
        animation: buttonsswoop $hero-sunrise-timing;
        animation-fill-mode: forwards;
    }
}

#downloadActualButtons {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 8;
    opacity: 0;
    transform: scale(1);
    &.-animate {
        transition: all 1s;
        opacity: 1;
        transform: scale(1);
    }
    &.-fixed {
        transition: all 0s;
        opacity: 1;
        transform: scale(1);
    }
    &.-fade {
        transition: all .3s;
        opacity: 0 !important;
    }
    img {
        margin: 0 5px;
    }
}

.hero-outer {
    // background-color: $color-hero-bg;
}
.hero-stage {
    transition: all 0.1s;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    width: 100%;
    height: 22%;
    opacity: 1;
    transform: scale(1);
    background: url('../images/ui/backgrounds/bg-sky-box.png') 50% 50% no-repeat;
    background-size: cover;
    &.-animate {
        // background-color: white;
        opacity: 0; 
        // transform: scale(1);
    }

}

.hero-sky {
    transition: all $hero-sunrise-timing;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/ui/backgrounds/bg-sky-box-clouds.png') 50% 50% no-repeat;
    background-size: cover;
    opacity: 1;
    // transform: scale(3);
    &.-animate {
        animation: headerclouds $hero-sunrise-timing;
        animation-delay: 0.4s;
        animation-fill-mode: forwards;
    }
}

@keyframes headerclouds {
    0% {
        transform: scale(3);
        opacity: 0;
    }
    80% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.05);
        opacity: 1;
    }
}

.hero-stage__bottom {
    position: relative;
    top: -134px;
}

.hero-stage__header {
    transition: all 0.5s;
    position: absolute;
    z-index: 2;
    font-size: 60px;
    font-family: TruenoBlack, sans-serif;
    opacity: 1;
    line-height: 1.2;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    .-animated-image {
        // transition: all .8s;
        // transition-delay: .4s;
        opacity: 1;
        margin-bottom: 10px;
        transform: scale(1.4) translateY(80px);
    }
    h1 {
        // transition: all $hero-sunrise-timing;
        opacity: 0;
        transform: translateY(350px);
        text-shadow: 1px 1px 1px rgba(155,155,155,0.74);
    }
    &.-animate {
        opacity: 1;
        .-animated-image {
            // opacity: 1;
            transform: scale(1) translateY(0);
            transition: all $hero-sunrise-timing;
        }
        h1 {
            animation: headerswoop $hero-sunrise-timing;
            animation-fill-mode: forwards;
        }
    }
    &.-fixed {
        opacity: 1;
        .-animated-image {
            // opacity: 1;
            transform: scale(1) translateY(0) !important;
            transition: all 0s !important;
        }
        h1 {
            transform: translateY(0) scale(1) !important;
            opacity: 1 !important;
        }
    }
    &.-fade {
        opacity: 0;
    }
    h1 {
        font-size: 60px;
        line-height: 1.2;
    }
    p {
        padding-top: 20px;
        line-height: 1.3;
        font-size: 22px;
        font-family: TruenoRegular, sans-serif;
    }
}

.hero-stage__ctas {
    margin-top: 24px;
    height: 30px;
}

.hero-stage__download {
    position: relative;
    transition: all 0.25s;
    opacity: 0.85;
    z-index: 100;
    img {
        width: 140px;
        margin: 0 5px;
    }
    &:hover {
        opacity: 1;
    }
}

@keyframes headerzoom {
    0% {
        transform: scale(1.7) translateY(80px);
    }
    // 80% {
    //     transform: scale(0.95) translateY(0);
    // }
    100% {
        transform: scale(1) translateY(0);
    }
}

@keyframes headerswoop {
    0% {
        transform: translateY(350px) scale(1.4);
        opacity: 0;
    }
    // 80% {
    //     transform: translateY(-15px);
    //     opacity: 1;
    // }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes buttonsswoop {
    0% {
        transform: translateY(350px) scale(1.4);
        opacity: 0;
    }
    // 80% {
    //     transform: translateY(-15px);
    //     opacity: 1;
    // }
    99% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }
}

.hero-stage__tree {
    position: absolute;
    background-color: green;
    width: 100%;
    height: 100%;
    color: $color-main-inverse;
    border-top: 1px solid $color-main-inverse;
    &.tree1 {
        z-index: 100;
        top: 50%;
    }
    &.tree2 {
        z-index: 200;
        top: 70%;
    }
    &.tree3 {
        z-index: 300;
        top: 90%;
    }
}

.hero-stage__fog {
    // transition: all $hero-animation-duration;
    position: absolute;
    // background: linear-gradient(transparent 1%, white);
    width: 100%;
    height: 100%;
    &.fog1 {
        background: linear-gradient(rgba(255, 255, 255, 0.01), white 20%);
        z-index: 5;
        top: 11%;
        &.-animate {
            animation: foggydew 1.7s;
            animation-delay: .2s;
            animation-fill-mode: forwards;
        }
    }
    &.fog2 {
        background: linear-gradient(rgba(255, 255, 255, 0.01), white 20%);
        z-index: 5;
        top: 12%;
        &.-animate {
            animation: foggydew 1.4s;
            animation-delay: .1s;
            animation-fill-mode: forwards;
        }
    }
    &.fog3 {
        background: linear-gradient(rgba(255, 255, 255, 0.01), white 20%);
        z-index: 5;
        top: 17%;
        &.-animate {
            animation: foggydew 1.2s;
            animation-fill-mode: forwards;
        }
    }
}
@keyframes foggydew {
    0% {
        transform: translate(0,0);
        display: block;
    }
    90% {
        transform: translate(0,100%);
        opacity: 1;
        display: block;
    }
    100% {
        transform: translate(-100%,100%);
        opacity: 0;
    }
}

.hero-stage__sun {
    transition: all $hero-sunrise-timing;
    position: absolute;
    width: 480px;
    height: 460px;
    top: 30%;
    left: 60%;
    transform: translate(200%,200%);
    background: url('../images/ui/scenery/mr-sun.png') 50% 50% no-repeat;
    z-index: 1;
    &.-animate {
        transform: translate(-20%, -30%);
    }
}

.main-site__balloon1 {
    transition: all 100s linear;
    position: absolute;
    top: 23%;
    left: 50%;
    z-index: 100;
    &.-animate {
        left: 110%;
    }
}

.main-site__balloon2 {
    transition: all 205s linear;
    position: absolute;
    top: 32%;
    left: 45%;
    z-index: 100;
    &.-animate {
        left: 110%;
    }
}

.main-site__container {
    position: relative;
    z-index: 5;
    padding-top: 316px;
    //overflow: hidden;
}

.main-site__container--inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.main-site__hills1 {
    position: absolute;
    top: 9%;
    z-index: 5;
}

.main-site__hills2 {
    position: absolute;
    top: 10.5%;
    z-index: 5;
}

.main-site__hills3 {
    position: absolute;
    top: 12%;
    z-index: 5;
}
.main-site__hills4 {
    position: absolute;
    top: 27%;
    z-index: 6;
}

.main-site__mountains {
    position: absolute;
    top: 12%;
    z-index: 1;
}

.main-site__background {
    display: block;
    position: relative;
    z-index: 4;
    margin-top: 35%;
}
.main-site__background--mobile {
    display: none;
    position: relative;
    z-index: 4;
    margin-top: 35%;
    // padding-bottom: 1640px;
}
.main-site__shim {
    position: absolute;
    z-index: 1;
    top: 14.25%;
}

.main-site__shine {
    position: fixed;
    opacity: 1;
    z-index: 1;
    top: 20%;
    transform: translate3d(0, 0, 0);
}

.section-starts {
    // position: absolute;
    // top: 32%;
    // z-index: 1000;
    // left: 50%;
    // transform: translateX(-50%);
    // width: 100%;
}

.section-sharing, .section-friends, .section-secure {
    // transition-timing-function: ease-out;
    // transition-delay: 0.2s;
    // transition: transform 0.15s ease-out;
    position: absolute;
    // left: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: 340px;
    // transform: translate(-50%,200px);
    opacity: 1;
    width: 100%;
    z-index: 10;
    // &.-animate {
    //     transform: translate(-50%,0);
    // }
    &:last-child {
        margin-bottom: 0;
    }
}

.section-sharing__scroller {
    position: absolute;
    top: 31.5%;
}

.section-friends__scroller {
    position: absolute;
    top: 62.5%;
}

.section-secure__scroller {
    position: absolute;
    top: 92%;
}

.section-sharing {
    top: 35%;
}

.section-friends {
    top: 114%;
}

.section-secure {
    top: 135%;
}


.section-image {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-48%);
    width: 40%;
    &.-left {
        right: auto;
        left: 0;
    }
    img {
        width: 100%;
    }
    .video {
        position: absolute;
        top: 11.8%;
        left: 21%;
        width: 59%;
        video {
            width: 100%;
            border-radius: 25px;
        }
    }
}

.house-scene {
    position: absolute;
    top: 52%;
    z-index: 9;
    left: 0;
    width: 35%;
    height: 7.5%;
}

.house-scene__house {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}
.house-scene__smoke1 {
    position: absolute;
    bottom: 44%;
    right: 13%;
    width: 50%;
    animation: smoke 7s linear infinite
}
.house-scene__smoke2 {
    position: absolute;
    bottom: 62%;
    right: 45%;
    width: 50%;
    animation: smoke2 8s linear infinite;
    animation-delay: 1s;
}

@keyframes smoke
{
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    79% {
        opacity: 1;
        transform: translateX(-10px);
    }
    100% {
        opacity: 0;
        transform: translateX(-15px);
    }
}

@keyframes smoke2
{
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    79% {
        opacity: 1;
        transform: translateX(-30px);
    }
    100% {
        opacity: 0;
        transform: translateX(-40px);
    }
}


@media (max-width: 1400px) {
    .section-image {
        width: 38%;
    }
}

@media (max-width: 1200px) {
    .main-site__container {
        padding-top: 260px;
    }
    .hero-stage {
        height: 660px;
    }
    .hero-stage__header {
        top: 36%;
        h1 {
            font-size: 52px;
        }
        p {
            font-size: 20px;
        }
        .-animated-image {
            width: 280px;
            transform: scale(1.5) translateY(60px);
        }
    }
}

@media (max-width: 1200px) {
    .hero-stage__ctas {
        margin-top: 14px;
        height: 30px;
    }
    .hero-stage__header .-animated-image {
        margin-bottom: 0;
    }
    .hero-stage__download {
        img {
            width: 130px;
        }
    }
    .hero-panel {
        padding: 0px 20px;
        box-sizing: border-box;
        top: 260px;
    }
    .hero-panel__inner {
        padding-left: 30px;
        h1 {
            font-size: 44px;
        }
        p {
            font-size: 22px;
        }
        .hero-panel__phone {
            right: -20px;
            max-width: 400px;
            top: -185px;
        }
    }
    .section-sharing {
        top: 31%;
    }
}

@media (max-width: 1000px) {
    .hero-stage__header {
        .section-image {
            width: 38%;
        }
    }
    .main-site__balloon1 {
        top: 30%;
    }
    .main-site__balloon2 {
        top: 40%;
    }
    .section-sharing {
        top: 31%;
    }
    .section-friends {
        top: 84%;
    }
    .section-secure {
        top: 116%;
    }
}

@media (max-width: 1000px) {
    .hero-stage__header {
        top: 33%;
        h1 {
            font-size: 44px;
        }
        .-animated-image {
            width: 240px;
            transform: scale(1.3) translateY(40px);
        }
    }
    .hero-stage__ctas {
        margin-top: 0;
    }
    .hero-stage__download {
        img {
            width: 120px;
        }
    }
}

@media (max-width: 950px) {
    .main-site__container {
        padding-top: 260px;
    }
    .hero-panel__inner {
        padding-top: 0;
        padding-right: 340px;
        // h1 {
        //     font-size: 34px;
        // }
        // .hero-panel__phone {
        //     max-width: 370px;
        // }
    }
}


@media (max-width: 900px) {
    .hero-stage__header {
        top: 31%;
    }
    .h2-home {
        font-size: 38px;
    }
    .p-home {
        font-size: 24px;
    }
    .section-sharing {
        top: 37%;
    }
}

@media (max-width: 850px) {
    .hero-panel__inner {
        .hero-panel__phone {
            top: -130px;
            max-width: 320px;
        }
    }
}

@media (max-width: 800px) {
    .h2-home {
        font-size: 32px;
        margin-bottom: 10px;
    }
    .p-home {
        font-size: 22px;
    }
    .hero-panel__inner {
        margin-top: -40px;
        padding-right: 300px;
        .hero-panel__phone {
            top: -130px;
            max-width: 320px;
        }
    }
    .main-site__shine {
        display: none;
    }
    .hero-stage__header {
        top: 26%;
        h1 {
            font-size: 36px;
        }
        p {
            font-size: 18px;
        }
        .-animated-image {
            width: 200px;
        }
    }
    .section-sharing {
        top: 30%;
    }
    .section-friends {
        top: 79%;
    }
    .section-secure {
        top: 110%;
    }
    .section-sharing, .section-friends, .section-secure {
        transform: translateY(0) !important;
    }
}

@media (max-width: 800px) {
    .hero-panel {
        top: 180px;
        padding: 0px 20px;
        box-sizing: border-box;
    }
}

.mobile-waterfall__gradiient {
    display: none;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#123a31 20%,rgba(255, 255, 255, 0.01));
    z-index: 1;
}

.mobile-waterfall {
    display: none;
    position: absolute;
    bottom: 0;
    height: 83.9%;
    width: 100%;
}

.footer-waterfall__animation--mobile {
    display: none;
    position: absolute;
    left: 33%;
    width: 48%;
    bottom: 0;
    height: 83.9%;
    z-index: 4;
    overflow: hidden;
    .waterfall-drop {
        &.-drop1 {
            left: -1%;
            animation: mobilewaterfall 2.9s linear infinite;
            animation-delay: 1s;
        }
        &.-drop2 {
            left: -2%;
            animation: mobilewaterfall 3s linear infinite;
            animation-delay: 1.2s;
        }
        &.-drop3 {
            left: 0;
            animation: mobilewaterfall 3.1s linear infinite;
            animation-delay: 1.4s;
        }
        &.-drop4 {
            left: 0;
            animation: mobilewaterfall 3s linear infinite;
            animation-delay: 1.6s;
        }
        &.-drop5 {
            left: 1%;
            animation: mobilewaterfall 2.8s linear infinite;
            animation-delay: 1.8s;
        }
        &.-drop6 {
            left: 2%;
            animation: mobilewaterfall 3s linear infinite;
            animation-delay: 2s;
        }
        &.-drop7 {
            left: 1%;
            animation: mobilewaterfall 2.6s linear infinite;
            animation-delay: 2.2s;
        }
        &.-drop8 {
            left: 0%;
            animation: mobilewaterfall 2.6s linear infinite;
            animation-delay: 2.4s;
        }
    }
}

@keyframes mobilewaterfall
{
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(350%) scale(.6);
    }
}

@media (max-width: 800px) {
    .main-site__container {
        padding-top: 340px;
    }
    .section-sharing {
        top: 16%;
    }
    .hero-panel__inner {
        .hero-panel__phone {
            top: -100px;
        }
    }
    .hero-panel__inner {
        padding-right: 0;
        padding-left: 0;
        text-align: center;
        top: -50px;
        h1 {
            width: 80%;
            margin: 0 auto;
        }
        .hero-panel__phone {
            position: relative;
            right: auto;
            top: 0;
            max-width: 70%;
            width: 70%;
            left: 50%;
            transform: translateX(-50%);
        }
        p {
            br {
                display: none;
            }
        }
    }

    .hero-panel__ctas {
        max-width: 300px;
        margin: 0 auto;
        a {
            margin: 5px 0;
            min-width: 166px;
            font-size: 18px;
            padding: 17px 40px 17px 50px !important;
            img {
                top: 14px;
                left: 19px;
                width: 24px;
            }
        }
    }

    .main-site__container {
        padding-top: 240px;
    }
    .hero-stage__header {
        top: 22%;
        max-width: 80%;
        width: 80%;
        h1 {
            font-size: 34px;
        }
        p {
            font-size: 18px;
        }
        .-animated-image {
            width: 190px;
        }
    }
    .section-image {
        display: block;
        position: relative;
        right: auto;
        top: 0;
        max-width: 70%;
        width: 70%;
        left: 50% !important;
        transform: translateX(-50%);
        &.-left {
            left: auto;
        }
    }
    .section-sharing {
        position: relative;
        top: 200px;
        margin-bottom: 0;
    }
    .section-why-true {
        padding: 0;
    }
    .main-site__balloon1 {
        top: 5%;
    }
    .main-site__balloon2 {
        top: 15%;
    }
    .section-starts {
        position: absolute;
        top: 34%;
        z-index: 1000;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    .main-site__background {
        display: none;
    }
    .main-site__background--mobile {
        display: block;
    }
    .footer-waterfall {
        display: none;
    }
    .footer-waterfall__animation {
        display: none;
    }
    .mobile-waterfall, .mobile-waterfall__gradiient, .footer-waterfall__animation--mobile {
        display: block;
    }
    .main-site__hills1 {
        top: 7%;
    }
    .main-site__hills2 {
        top: 9.5%;
    }
    .main-site__hills3 {
        top: 10%;
    }
    .main-site__hills4 {
        top: 19%;
    }

    .hero-stage__download {
        img {
            width: 100px;
        }
    }
    .hero-stage__ctas {
        margin-top: -10px;
    }
}

@media (max-width: 590px) {
    .section-sharing {
        top: 290px;
    }
    .section-friends {
        top: 335px;
    }
    .section-secure {
        top: 311px;
    }
    .hero-panel__inner {
        h1 {
            width: 100%;
            margin: 0 auto;
        }
    }
}

@media (max-width: 520px) {
    .section-starts {
        top: 37%;
    }
    .hero-stage__header {
        top: 26%;
        // padding: 22% 10%;
    }
    .section-sharing {
        top: 354px;
    }
    .section-friends {
        top: 354px;
    }
    .section-secure {
        top: 354px;
    }
    .main-site__container {
        padding-top: 200px;
    }
    .main-site__mountains {
        top: 7.8%;
    }
}

@media (max-width: 500px) {
    .hero-panel {
        padding: 0px;
    }
    .hero-panel__intro {
        padding: 0 10px;
    }
    .hero-panel__inner p {
        line-height: 1.2;
        font-size: 24px;
    }
    .hero-panel__inner h1 {
        line-height: 1.2;
        font-size: 35px;
    }
    .main-site__balloon1 {
        display: none;
    }
    .main-site__balloon2 {
        display: none;
    }
}

@media (max-width: 476px) {
    .section-starts {
        top: 43%;
    }   
    .hero-panel__inner .hero-panel__phone {
        width: 100%;
        max-width: 100%;
    }
    .section-image {
        max-width: 108%;
        width: 108%;
    }
}

@media (max-width: 400px) {
    .hero-stage__header {
        top: 26%;
        // padding: 22% 10%;
    }
    .section-starts {
        top: 44%;
    }
}