/* home styles
*/

// vars
$hero-sunrise-timing: 1.2s;
$hero-animation-duration: 0.9s;
$hero-animation-duration-long: 2s;

// properties
html, body {
    // overflow: scroll;
    // height: 100vh;
    // scroll-snap-type: mandatory;
    // scroll-snap-points-y: repeat(100vh);
    // scroll-snap-type: y mandatory;
    &.-static {
        overflow: hidden;
    }
}

.page-outer__scroll {
    // overflow-y: scroll;
    // scroll-snap-type: y mandatory;

}

.preloader-shim {
    &.-animate {
        // background-color: white;
        opacity: 1; 
        animation: preloader 1s;
        animation-fill-mode: forwards;
    }
}

@keyframes preloader {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 0;
        display: block;
        width:100vw;
        height:100vh;
    }
    100% {
        opacity: 0;
        display: none;
        width:1px;
        height:1px;
    }
}



.hero-outer {
    // background-color: $color-hero-bg;
}
.hero-stage {
    transition: all 1s;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    width: 100%;
    height: 560px;
    opacity: 1;
    transform: scale(1);
    background: url('../images/ui/backgrounds/bg-sky-box.png') 50% 50% no-repeat;
    &.-animate {
        // background-color: white;
        // opacity: 1; 
        // transform: scale(1);
    }

}

.hero-sky {
    transition: all $hero-sunrise-timing;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/ui/backgrounds/bg-sky-box-clouds.png') 50% 50% no-repeat;
    background-size: cover;
    opacity: 0;
    transform: scale(3);
    &.-animate {
        animation: headerclouds $hero-sunrise-timing;
        animation-delay: 0.4s;
        animation-fill-mode: forwards;
    }
}

@keyframes headerclouds {
    0% {
        transform: scale(3);
        opacity: 0;
    }
    80% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.05);
        opacity: 1;
    }
}

.hero-stage__bottom {
    position: relative;
    top: -134px;
}

.hero-stage__header {
    transition: all 0.5s;
    position: absolute;
    z-index: 2;
    font-size: 60px;
    font-family: TruenoBlack, sans-serif;
    opacity: 1;
    line-height: 1.2;
    top: 43%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    img {
        // transition: all .8s;
        // transition-delay: .4s;
        opacity: 1;
        margin-bottom: 10px;
        transform: scale(1.5) translateY(80px);
    }
    h1 {
        // transition: all $hero-sunrise-timing;
        opacity: 0;
        transform: translateY(350px);
    }
    &.-animate {
        opacity: 1;
        img {
            // opacity: 1;
            // transform: translateY(0);
            animation: headerzoom $hero-sunrise-timing;
            animation-fill-mode: forwards;
        }
        h1 {
            animation: headerswoop $hero-sunrise-timing;
            animation-fill-mode: forwards;
        }
    }
    &.-fade {
        opacity: 0;
    }
    h1 {
        font-size: 60px;
    }
    p {
        padding-top: 20px;
        line-height: 1.3;
        font-size: 22px;
        font-family: TruenoRegular, sans-serif;
    }
}

@keyframes headerzoom {
    0% {
        transform: scale(1.5) translateY(80px);
    }
    80% {
        transform: scale(0.95) translateY(0);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}

@keyframes headerswoop {
    0% {
        transform: translateY(350px);
        opacity: 0;
    }
    80% {
        transform: translateY(-15px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero-stage__tree {
    position: absolute;
    background-color: green;
    width: 100%;
    height: 100%;
    color: $color-main-inverse;
    border-top: 1px solid $color-main-inverse;
    &.tree1 {
        z-index: 100;
        top: 50%;
    }
    &.tree2 {
        z-index: 200;
        top: 70%;
    }
    &.tree3 {
        z-index: 300;
        top: 90%;
    }
}

.hero-stage__fog {
    // transition: all $hero-animation-duration;
    position: absolute;
    // background: linear-gradient(transparent 1%, white);
    width: 100%;
    height: 100%;
    &.fog1 {
        background: linear-gradient(rgba(255, 255, 255, 0.01), white 20%);
        z-index: 5;
        top: 11%;
        &.-animate {
            animation: foggydew 1.7s;
            animation-delay: .2s;
            animation-fill-mode: forwards;
        }
    }
    &.fog2 {
        background: linear-gradient(rgba(255, 255, 255, 0.01), white 20%);
        z-index: 5;
        top: 12%;
        &.-animate {
            animation: foggydew 1.4s;
            animation-delay: .1s;
            animation-fill-mode: forwards;
        }
    }
    &.fog3 {
        background: linear-gradient(rgba(255, 255, 255, 0.01), white 20%);
        z-index: 5;
        top: 17%;
        &.-animate {
            animation: foggydew 1.2s;
            animation-fill-mode: forwards;
        }
    }
}
@keyframes foggydew {
    0% {
        transform: translate(0,0);
        display: block;
    }
    90% {
        transform: translate(0,100%);
        opacity: 1;
        display: block;
    }
    100% {
        transform: translate(-100%,100%);
        opacity: 0;
    }
}

.hero-stage__sun {
    transition: all $hero-sunrise-timing;
    position: absolute;
    width: 480px;
    height: 460px;
    top: 30%;
    left: 60%;
    transform: translate(400%,400%);
    background: url('../images/ui/scenery/mr-sun.png') 50% 50% no-repeat;
    z-index: 1;
    &.-animate {
        transform: translate(5%, -17%)
    }
}

.main-site__balloon1 {
    transition: all 80s linear;
    position: absolute;
    top: 62%;
    left: 74%;
    z-index: 100;
    &.-animate {
        left: 110%;
    }
}

.main-site__balloon2 {
    transition: all 135s linear;
    position: absolute;
    top: 74%;
    left: 68%;
    z-index: 100;
    &.-animate {
        left: 110%;
    }
}

.main-site__container {
    position: relative;
    z-index: 5;
    padding-top: 90px;
    //overflow: hidden;
}

.main-site__container--inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.main-site__hills1 {
    position: absolute;
    top: 9%;
    z-index: 5;
}

.main-site__hills2 {
    position: absolute;
    top: 10.5%;
    z-index: 5;
}

.main-site__hills3 {
    position: absolute;
    top: 10%;
    z-index: 5;
}
.main-site__hills4 {
    position: absolute;
    top: 25%;
    z-index: 6;
}

.main-site__mountains {
    position: absolute;
    top: 12%;
    z-index: 1;
}

.main-site__background {
    display: block;
    position: relative;
    z-index: 4;
    margin-top: 35%;
}
.main-site__shim {
    position: absolute;
    z-index: 2;
    top: 14.25%;
}

.main-site__shine {
    transition: all $hero-sunrise-timing;
    transition-delay: .6s;
    position: fixed;
    opacity: 0;
    z-index: 3;
    top: 20%;
    &.-animate {
        opacity: 1;
    }
}

.section-starts {
    position: absolute;
    top: 32%;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.section-sharing, .section-friends, .section-secure {
    scroll-snap-align: start;
    // transition: transform 0.75s ease-in-out;
    position: absolute;
    // left: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: 340px;
    // transform: translate(-50%,200px);
    opacity: 1;
    width: 100%;
    z-index: 10;
    // &.-animate {
    //     transform: translate(-50%,0);
    // }
    &:last-child {
        margin-bottom: 0;
    }
}

.section-sharing__scroller {
    position: absolute;
    top: 31.5%;
}

.section-friends__scroller {
    position: absolute;
    top: 62.5%;
}

.section-secure__scroller {
    position: absolute;
    top: 92%;
}

.section-sharing {
    top: 45%;
}

.section-friends {
    top: 82%;
}

.section-secure {
    top: 118%;
}


.section-image {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-46%);
    width: 42%;
    &.-left {
        right: auto;
        left: -50px;
    }
}

.section-footer {
    background-color: $color-bg-footer;
    min-height: 1600px;
    overflow: hidden;
}

.house-scene {
    position: absolute;
    top: 52%;
    z-index: 9;
    left: 0;
    width: 35%;
    height: 7.5%;
}

.house-scene__house {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}
.house-scene__smoke1 {
    position: absolute;
    bottom: 44%;
    right: 13%;
    width: 50%;
    animation: smoke 7s linear infinite
}
.house-scene__smoke2 {
    position: absolute;
    bottom: 62%;
    right: 45%;
    width: 50%;
    animation: smoke2 8s linear infinite;
    animation-delay: 1s;
}

@keyframes smoke
{
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    79% {
        opacity: 1;
        transform: translateX(-10px);
    }
    100% {
        opacity: 0;
        transform: translateX(-15px);
    }
}

@keyframes smoke2
{
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    79% {
        opacity: 1;
        transform: translateX(-30px);
    }
    100% {
        opacity: 0;
        transform: translateX(-40px);
    }
}


@media (max-width: 1200px) {
    .section-image {
        width: 38%;
    }
}

@media (max-width: 1000px) {
    .hero-stage__header {
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 20px;
        }
    }
    .card-outer {
        width: 60%;
        &.-right {
            margin-left: 40%;
        }
        h2 {
            font-size: 32px;
        }
        p {
            font-size: 18px;
        }
    }
    .main-site__balloon1 {
        top: 42%;
    }
    .main-site__balloon2 {
        top: 50%;
    }
    .section-sharing {
        top: 35%;
    }
    .section-friends {
        top: 73%;
    }
    .section-secure {
        top: 110%;
    }
}

@media (max-width: 800px) {
    .main-site__shine {
        display: none;
    }
    .hero-stage__header {
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 18px;
        }
    }
    .section-image {
        &.-left {
            left: -35px;
        }
    }
    .card-outer {
        width: 66%;
        &.-right {
            margin-left: 34%;
        }
        h2 {
            font-size: 26px;
            margin-bottom: 24px;
        }
        p {
            font-size: 16px;
            margin-bottom: 24px;
        }
    }
}

@media (max-width: 640px) {
    .main-site__container {
        padding-top: 100px;
    }
    .hero-stage__header {
        h1 {
            font-size: 30px;
        }
        p {
            font-size: 18px;
        }
    }
    .card-outer {
        width: 75%;
        z-index: 1;
        padding: 30px;
        border-radius: 60px;
        &.-right {
            margin-left: 25%;
        }
    }
    .section-image {
        width: 50%;
        top: 50%;
        &.-left {
            left: -35px;
        }
    }
    .section-sharing {
        top: 31%;
    }
    .section-friends {
        top: 68%;
    }
    .section-secure {
        top: 105%;
    }
}

@media (max-width: 520px) {
    .hero-stage__header {
        // padding: 22% 10%;
    }
    .section-sharing {
        top: 31%;
    }
    .section-friends {
        top: 77%;
    }
    .section-secure {
        top: 125%;
    }
}