/* navigation styles
*/


// topnav
.topnav-container {
    transition: all 0.5s;
    opacity: 0;
    position: absolute;
    width: 100%;
    &.-show {
        opacity: 1;
    }
}

.topnav-links {
    position: absolute;
    transition: all 0.5s;
    right: 30px;
    top: 34px;
    width: 80%;
    text-align: right;
    a {
        transition: all 0.3s;
        font-family: TruenoBold, sans-serif;
        display: inline-block;
        padding-left: 40px;
        text-decoration: none;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.navigation-inner {
    transition: all 0.5s;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    &.-compact {
        padding: 10px 20px;
        background-color: white;
        .topnav-links {
            top: 28px;
        }
    }
}

// footer
.section-footer {
    position: relative;
}

.footer-waterfall {
    display: block;
}

.footer-waterfall__animation {
    position: absolute;
    left: 43.9%;
    width: 46.4%;
    height: 100%;
    z-index: 4;
    overflow: hidden;
    .waterfall-drop {
        position: absolute;
        top: 0;
        width: 100%;
        height: 900px;
        background: url('../images/ui/scenery/footer-wave.png') 0 0 no-repeat;
        background-size: cover;
        transform: translateY(-100%);
        &.-drop1 {
            left: -1%;
            animation: waterfall 1.6s linear infinite;
            animation-delay: 1s;
        }
        &.-drop2 {
            left: -2%;
            animation: waterfall 1.6s linear infinite;
            animation-delay: 1.2s;
        }
        &.-drop3 {
            left: 0;
            animation: waterfall 1.6s linear infinite;
            animation-delay: 1.4s;
        }
        &.-drop4 {
            left: 0;
            animation: waterfall 1.6s linear infinite;
            animation-delay: 1.6s;
        }
        &.-drop5 {
            left: 1%;
            animation: waterfall 1.6s linear infinite;
            animation-delay: 1.8s;
        }
        &.-drop6 {
            left: 2%;
            animation: waterfall 1.6s linear infinite;
            animation-delay: 2s;
        }
        &.-drop7 {
            left: 1%;
            animation: waterfall 1.6s linear infinite;
            animation-delay: 2.2s;
        }
        &.-drop8 {
            left: 0%;
            animation: waterfall 1.6s linear infinite;
            animation-delay: 2.4s;
        }
        // &.-drop9 {
        //     left: 70%;
        //     animation: waterfall 1.1s linear infinite;
        //     animation-delay: 1.45s;
        // }
        // &.-drop10 {
        //     left: 77%;
        //     animation: waterfall 1.2s linear infinite;
        //     animation-delay: 1.6s;
        // }
        // &.-drop11 {
        //     left: 90%;
        //     animation: waterfall 1.05s linear infinite;
        //     animation-delay: 1.2s;
        // }
    }
}

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 1200px;
    z-index: 5;
}

.footer-cast {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.footer-inner {
    position: absolute;
    bottom: 0;
    padding: 0 100px 100px 80px;
    color: $color-footer-font;
}

.footer-boulder {
    position: relative;
    top: -200px;
    max-width: 357px;
    width: 40%;
}

.footer-old-man {
    position: relative;
    top: -100px;
    max-width: 238px;
    width: 30%;
}

.footer-doggers {
    position: relative;
    top: -50px;
    max-width: 157px;
    width: 16%;
}

.footer-background {
    width: 100%;
    display: block;
}

.footer-header {
    font-size: 40px;
    line-height: 1.3;
    font-family: TruenoBlack, sans-serif;
    padding-right: 30%;
    margin-bottom: 20px;
    line-height: 1.4;
}
.footer-subheader {
    padding-right: 20%;
    font-size: 20px;
    font-family: TruenoBold, sans-serif;
    opacity: 0.6;
    margin-bottom: 20px;
    line-height: 1.3;
}

.footer-hashtag {
    padding-right: 20%;
    font-size: 20px;
    font-family: TruenoBold, sans-serif;
    opacity: 0.6;
    margin-bottom: 40px;
}

.footer-input {
    margin-bottom: 100px;
    input {
        font-size: 20px;
        border-radius: 25px;
        padding: 15px 30px;
        border: none;
        width: 40%;
        box-sizing: border-box;
        margin-right: 10px;
    }
}

.footer-social {
    margin-bottom: 40px;
}

.footer-social__header {
    font-size: 30px;
    font-family: TruenoBold, sans-serif;
    margin-bottom: 12px;
}

.footer-social__description {
    font-size: 20px;
    font-family: TruenoBold, sans-serif;
    opacity: 0.6;
}

.footer-social__links {
    margin-bottom: 140px;
}

#clipboardCopy {
    width: 1px;
    opacity: 0;
}

@keyframes waterfall
{
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(200%) scale(.5);
    }
}

@media (max-width: 1000px) {
    .footer-header {
        font-size: 34px;
    }
    .footer-social__header {
        font-size: 26px;
    }
    .footer-social__description {
        font-size: 18px;
    }
    .footer-input {
        margin-bottom: 60px;
        input {
            font-size: 16px;
            padding: 12px 22px;
        }
    }
    .footer-inner {
        padding-bottom: 20px;
    }
    .footer-boulder {
        position: absolute;
        top: -67px;
        left: 18px;
        max-width: 18%;
        width: auto;
    }
    .footer-old-man {
        position: absolute;
        top: -133px;
        left: 220px;
        max-width: 18%;
        width: auto;
    }
    .footer-doggers {
        position: absolute;
        top: 8px;
        left: 400px;
        max-width: 9%;
        width: auto;
    }
    .section-footer {
        min-height: 1200px !important;
    }
}

@media (max-width: 800px) {
    .footer-inner {
        padding: 0 40px 0px 40px;
    }
    .footer-boulder {
        top: -67px;
        left: 18px;
    }
    .footer-old-man {
        top: -133px;
        left: 160px;
    }
    .footer-doggers {
        top: 8px;
        left: 300px;
    }
}

@media (max-width: 640px) {
    .navigation-inner {
        img {
            width: 75px;
        }
    }
    .footer-background {
        min-width: 800px;
    }
    .section-footer {
        overflow: hidden;
    }
    .footer-header {
        padding-right: 0;
    }
    .footer-input {
        input {
            width: 66%;
        }
    }
    .footer-boulder {
        top: 40px;
    }
    .footer-old-man {
        top: -30px;
        left: 145px;
    }
    .footer-doggers {
        top: 93px;
        left: 266px;
    }
    .footer-subheader {
        padding-right: 0;
    }
}

@media (max-width: 520px) {
    .footer-header {
        font-size: 28px;
    }
    .footer-subheader, .footer-hashtag, .footer-social__description {
        font-size: 17px;
    }
    .footer-social__header {
        font-size: 22px;
    }
    .footer-container {
        bottom: -162px;
    }
    .footer-inner {
        padding: 0 20px 130px 20px;
    }
    .footer-input {
        margin-bottom: 40px;
    }
    .footer-input input {
        width: 55%;
    }
}

@media (max-width: 361px) {
    .section-footer {
        min-height: 1170px !important;
    }
    .footer-boulder {
        top: 22px;
    }
    .footer-doggers {
        top: 64px;
        left: 246px;
    }
}