/* settings styles
*/

// breakpoints
$breakpoint-mobile-nav: 860px;


$breakpoint-1040: 1040px;
$breakpoint-940: 940px;
$breakpoint-840: 840px;
$breakpoint-650: 650px;
$breakpoint-530: 530px;
$breakpoint-services: 675px;
$breakpoint-phablet: 600px;
$breakpoint-phone: 400px;
$breakpoint-tablet: 770px;

// branded colors
$color-bg: #0F0F16;
$color-bg-alternate: #F5F6F8;
$color-main-font: #ffffff;
$color-bg-hyperion: #21C4D0;
$color-main-inverse: #000000;
$color-nav-links: #000000;
$color-nav-links-hover: #4B49FF;
$color-nav-button: #4B49FF;
$color-bg-custom-alerts: #4B49FF;
$color-play-button: #21C4D0;
$color-footer: #000000;
$color-signup-button: #ffffff;
$color-hyperion-icon: #FF496F;
$color-hyperion-text: #000000;
$bg-color-feature-hotspots: #FF496F;
$bg-color-feature-forecasting: #003155;
$bg-color-feature-pulse: #FFD66F;
$bg-color-feature-events: #01AEEB;
$bg-navigation: #ffffff;
$bg-card: #ffffff;
$bg-input: #F8F8FC;

// box shadows
$event-card-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);



