/* modal styles
*/

// vars


// properties
.store-container {
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
}

.store-container__inner {
    padding: 15px;
    overflow: hidden;
}

.store-app-info {
    position: relative;
    box-sizing: border-box;
    padding-left: 130px;
    margin-bottom: 15px;
    .store-icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 114px;
    }
}

.store-app-title {
    color: #000;
    font-size: 21px;
    line-height: 24px;
}

.store-app-description {
    color: #8A898E;
    font-size: 14px;
    line-height: 17px;
    padding: 6px 0 10px;
}

.store-app-button {
    display: inline-block;
    text-decoration: none;
    background: #007AFE;
    border-radius: 70px;
    color: white;
    size: 14px;
    padding: 9px 20px 8px;
}

.store-app-header {
    color: #000;
    font-size: 21px;
    font-weight: 700;
    margin: 15px 0;
}

.store-app-content {
    margin-top: 15px;
    border-top: 1px solid #C6C6C8;
    padding-top: 15px;
    color: #000;
    font-size: 15px;
    line-height: 19px;
    p {
        margin-bottom: 20px;
    }
    ul {
        list-style: disc;
        margin-left: 15px;
    }
    li {
        padding-left: 4px;
        margin-bottom: 20px;
    }
}

.store-app-footer {
    margin-top: 40px;
    display: block;
    position: relative;
    color: #027BFF;
    padding-right: 60px;
    text-decoration: none;
    line-height: 20px;
    font-size: 15px;
    span {
        display: block;
        color: #8A898E;
        font-size: 13px;
    }
    img {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.store-app-slider {
    margin-bottom: 20px;
    width: 285px;
    .slick-list {
        overflow: visible !important;
    }
}

.store-app-slider__item {
    img {
        width: 270px;
        margin-right: 10px;
    }
}