/* testimonials styles
*/

// vars

// properties
.testimonials-container {
    max-width: 760px;
    margin: 0 auto;
    padding-top: 240px;
    &:after {
        content: '';
        clear: both;
        display: table;
    }
}

.testimonial-card {
    background-color: $color-bg-card;
    box-sizing: border-box;
    box-shadow: $card-box-shadow;
    border-radius: 60px;
}

.testimonial-card__inner {
    text-align: center;
    padding: 50px 70px 100px 70px;
    font-size: 27px;
    font-family: TruenoBlack, sans-serif;
    line-height: 1.6;
    box-sizing: border-box;
}

.testimonial-card__author {
    position: relative;
    padding: 10px 20px 0 20px;
    font-size: 24px;
    text-align: center;
    font-family: TruenoSemiBold, sans-serif;
}

.testimonial-card__thumb {
    display: inline-block;
    width: 60px;
    padding-right: 5px;
    img {
        display: inline-block;
        position: relative;
        top: 22px; 
        width: 100%;
    }
}

.testimonial-card__location {
    padding: 0 20px 0 20px;
    font-size: 24px;
    text-align: center;
    font-family: TruenoRegular, sans-serif;
}

@media (max-width: 1200px) {
    .testimonials-container {
        padding-top: 150px;
    }
}

@media (max-width: 1000px) {
    .testimonial-card__inner {
        font-size: 25px;
        line-height: 1.4;
        br {
            display: none;
        }
    }
    .testimonial-card__location {
        font-size: 19px;
    }
}


@media (max-width: 800px) {
    .testimonials-container {
        padding-top: 80px;
        overflow: hidden;
    }
    .testimonial-card__inner {
        font-size: 21px;
    }
    .testimonial-card__author {
        font-size: 18px;
    }
    .testimonial-card__location {
        font-size: 17px;
    }
    .slick-dots {
        bottom: 20px !important;
    }
    .testimonial-card__inner {
        padding: 40px 70px 70px 70px;
    }
    .testimonial-card__author {
        padding: 20px 20px 0 20px;
    }
}

@media (max-width: 800px) {
    .testimonials-container {
        max-width: 70%;
        width: 100%;
        padding-top: 110px;
    }
}

@media (max-width: 550px) {
    .testimonials-container {
        max-width: 90%;
    }
    .testimonial-card__inner {
        font-size: 19px;
    }
}

@media (max-width: 420px) {
    .testimonials-container {
        max-width: 100%;
    }
}