/* Unsubscribe styles
*/

// vars

// properties
.true-unsubscribe-html {
    height: 100%;
}
.true-unsubscribe {
    background: url('../images/ui/backgrounds/bg-unsubscribe.jpg') 50% 0% no-repeat;
    background-size: cover;
    height: 100%;
}

.unsubscribe-container {
    position: relative;
    text-align: center;
    padding: 100px 20px 40px;
}

.unsubscribe-header {
    max-width: 334px;
    width: 60%;
}

.card-unsubscribe {
    margin: 100px auto 120px;
    max-width: 500px;
    border-radius: 90px;
    p {
        margin: 0 0 10px;
    }
}

.unsubscribe-footer {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.unsubscribe-footer__social {
    margin-bottom: 20px;
}

.unsubscribe-footer__social--icon {
    transition: all 0.25s;
    width: 50px;
    padding: 0 3px;
    &:hover {
        transform: scale(1.05);
    }
}


@media (max-width: 650px) {
    .unsubscribe-header {
        max-width: 40%;
        width: 40%;
    }

    .unsubscribe-container {
        padding: 60px 20px 20px;
    }
    .card-unsubscribe {
        top: 0 !important;
        margin: 50px auto 60px;
        max-width: 90%;
        border-radius: 60px;
        width: 80%;
        p {
            margin: 0 0 10px;
        }
    }
    .unsubscribe-footer {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
}

@media (max-width: 500px) {
    .card-unsubscribe {
        max-width: 100%;
        width: 100%;
    }
}